@import 'settings';

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  &::after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  &::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
}

body,
html {
  font-family: $font-family-1;
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.full-height-container,
body > div > div > div { // FIXME: add .full-height-container to each page root div
  height: 100%;
}

.wrap {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $wrap-mobile;
  width: 100%;

  @media #{$mq-tablet} {
    padding: 0 $wrap-tablet;
  }

  @media #{$mq-laptop} {
    padding: 0 $wrap-desktop;

  }

  &.-map {
    margin: 0;
    padding: 0 35px;
  }
}

p {
  color: $color-9;
  font-family: $font-family-2;
  font-size: $font-size-normal;
  line-height: 1.6;

  & + p {
    margin-top: 15px;
  }
}

a {
  text-decoration: none;

  &:visited {
    color: currentColor;
  }

  &.-underline {
    color: $color-12;
    font-weight: $font-weight-bold;
    position: relative;

    &::after {
      background-color: $color-6;
      bottom: 0;
      content: '';
      display: inline-block;
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
      top: auto;
    }
  }
}

.section-title {
  color: $color-9;
  display: block;
  font-size: $font-size-xx-big;
  font-weight: $font-weight-normal;
  line-height: 1.05;
  margin: 60px 0 18px;
  max-width: 700px;
  width: 100%;
}
