@import '_settings';

* {
  box-sizing: border-box;

  &::after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  &::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
}

body,
html {
  font-family: $font-family-1;
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.full-height-container,
body > div > div > div { // FIXME: add .full-height-container to each page root div
  height: 100%;
}
