@import 'settings';

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  width: 1em;
}

:global .icon-search {
  width: .9375em;
}

:global .icon-filter {
  width: 1.154296875em;
}

.icon-layers-icon {
  width: .89453125em;
}

.icon-report-icon {
  width: .8125em;
}

.icon-share {
  fill: $color-4;
  height: 16px;
  width: 19px;
}

.icon-zoom-in {
  fill: $color-4;
  height: 13px;
  width: 13px;
}

.icon-zoom-out {
  fill: $color-4;
  height: 3px;
  width: 13px;
}

.icon-close {
  cursor: pointer;
  height: 10px;
  width: 10px;
}

.info-icon {
  cursor: pointer;
}

.blending-icon {
  cursor: pointer;
  fill: $color-19;
  height: 15px;
  width: 15px;

  &.-white {
    fill: $color-4;
  }
}

.delete-cross-icon {
  cursor: pointer;
  fill: $color-19;
  height: 15px;
  width: 15px;
}

.pin-icon {
  cursor: pointer;
  height: 16px;
  width: 11px;
}
