@import 'settings';

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  width: 1em;
}

:global .iconSearch {
  width: .9375em;
}

:global .iconFilter {
  width: 1.154296875em;
}

.iconLayersIcon {
  width: .89453125em;
}

.reportIcon {
  width: .8125em;
  height: 16px;
  path {
    &:first-child {
      fill: $color-31;
    }

    &:last-child {
      fill: $color-4;
    }
  }
}

.deleteIcon {
  cursor: pointer;
  fill: $color-31;
  height: 16px;
  width: 10px;
}

.aoiIcon {
  width: 15px;
  height: 15px;
}

.playIcon {
  height: 100%;
  width: 13px;
  position: relative;
  left: 2px;
}

.pauseIcon {
  height: 100%;
  width: 13px;
}

.iconShare {
  fill: $color-4;
  height: 12px;
  width: 14px;
}

.iconZoomIn {
  fill: $color-4;
  height: 14px;
  width: 14px;
}

.iconZoomOut {
  fill: $color-4;
  height: 4px;
  width: 14px;
}

.iconClose {
  cursor: pointer;
  height: 10px;
  width: 10px;
}

.infoIcon {
  cursor: pointer;
  fill: $color-31;
  height: 15px;
  width: 15px;
}

.paintIcon {
  cursor: pointer;
  fill: $color-31;
  height: 15px;
  width: 15px;
  position: relative;
  top: 1px;

  &._white {
    fill: $color-4;
  }
}

.deleteCrossIcon {
  cursor: pointer;
  fill: $color-19;
  height: 15px;
  width: 15px;
}


.pencilIcon {
  height: 15px;
  width: 15px;
  fill: $color-31;
}

.deleteBucketIcon {
  height: 15px;
  width: 15px;
  fill: $color-31;
}

.pinIcon {
  cursor: pointer;
  height: 16px;
  width: 11px;
}
