@charset "utf-8";
/*Base*/
@import 'base/normalize.scss';
@import 'base/slick.scss';
@import 'base/text.scss';
@import 'base/colors.scss';

/*Components*/
@import 'components/c-button.scss';
@import 'components/c-input-button.scss';
@import 'components/c_header.scss';
@import 'components/c_cover_page.scss';
@import 'components/c_map.scss';


/*Layaout*/
@import 'layout/l-homepage.scss';

* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  > div, > div > div,  > div > div > div{
    height: 100%;
  }
}
