@charset "utf-8";
/*Base*/
@import 'base';
@import 'base/normalize.scss';
@import 'base/slick.scss';
@import 'base/text.scss';
@import 'base/colors.scss';
@import 'base/slick.scss';
@import 'base/slick-theme.scss';
/*Components*/
@import 'components/c_input_button.scss';
@import 'components/c_header.scss';
@import 'components/c-cover-page.scss';
@import 'components/c_map.scss';
@import 'components/map/c-timebar.scss';
@import 'components/map/c-timeline.scss';
@import 'components/map/c-datepicker.scss';
/*Layout*/
@import 'layout/l-homepage.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
