.map {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

:global .mapboxgl-ctrl-logo {
  display: none;
}


/* Popup */

:global .mapboxgl-popup-content {
  background: none !important;
  padding: 0 !important;
}

:global .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
:global .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
:global .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  border-top-color: #2b4f93 !important;
}

:global .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
:global .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
:global .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  border-bottom-color: #2b4f93 !important;
}

:global .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #2b4f93 !important;
}

:global .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #2b4f93 !important;
}

:global .mapboxgl-popup-close-button {
  z-index: 1;
  right: -18px;
  top: 2px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  color: #294480;
  padding-bottom: 2px;
  line-height: 0;
  font-size: 16px;
}

:global .mapboxgl-popup-close-button:hover {
  background-color: #fff;
}

:global .mapboxgl-popup-close-button:focus {
  outline: none;
}

/* override Mapbox GL JS style to always show compact style */
:global .mapboxgl-ctrl-attrib {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin: 0 10px 10px 10px !important;
  position: relative;
  padding-right: 24px !important;
  background-color: #fff !important;
  border-radius: 3px 12px 12px 3px;
  visibility: hidden;
  z-index: 999;
}
:global .mapboxgl-ctrl-attrib:hover {
  visibility: visible;
}
:global .mapboxgl-ctrl-attrib:after {
  content: '';
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0D%0A%09%3Cpath%20fill%3D%27%23333333%27%20fill-rule%3D%27evenodd%27%20d%3D%27M4%2C10a6%2C6%200%201%2C0%2012%2C0a6%2C6%200%201%2C0%20-12%2C0%20M9%2C7a1%2C1%200%201%2C0%202%2C0a1%2C1%200%201%2C0%20-2%2C0%20M9%2C10a1%2C1%200%201%2C1%202%2C0l0%2C3a1%2C1%200%201%2C1%20-2%2C0%27%20%2F%3E%0D%0A%3C%2Fsvg%3E");
  background-color: rgba(255, 255, 255, .5);
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  visibility: visible;
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  :global .mapboxgl-ctrl-attrib, :global .mapboxgl-ctrl-attrib:after {
    display: none; /* use attribution of the footer */
  }
}

.googleLogo {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 66px;
  height: 26px;
  cursor: pointer;
  background-image: url('https://maps.gstatic.com/mapfiles/api-3/images/google4_hdpi.png');
  background-size: cover;
}