{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "google": true,
    "cartodb": true,
    "EMBED_MAP_URL": true,
    "MAP_API_ENDPOINT": true,
    "BLOG_URL": true,
    "FAQ_JSON_URL": true,
    "DEFINITIONS_JSON_URL": true,
    "ART_PUB_JSON_URL": true,
    "REQUIRE_MAP_LOGIN": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "airbnb"
  ],
  "rules": {
    "no-console": ["error", {
      "allow": ["warn", "error", "info"]
    }],
    "comma-dangle": ["error", "never"],
    "max-len": ["error", 120],
    "react/prefer-stateless-function": "off"
  }
}
