/*Global Fishing Colors*/
$lightsalmon: lightsalmon;
$salmon: salmon;
$redprimary: #ef4323;
$blueprimary: #8abbc7;
$bluesecondary: #294480;
$bluedark: #18306d;
$blue_dark_second: #0d1d3f;
$white: #FFF;
$white-two: rgba(255, 255, 255, 0.9);
$black: #111;
$blacksecondary: #011137;
$greyish-brown: #4a4a4a;
$greysecondary: #e8f4f9;
$blue_gray: #2d3a57;
$blackmenumobile: #0d1a34;

/*THEME COLORS*/
$color1: $lightsalmon;
$color2: $salmon;
$color3: $redprimary;
$color4: $blueprimary;
$color5: $bluesecondary;
$color6: $bluedark;
$color7: $greyish-brown;
$color8: $greysecondary;
$color9: $white;
$color10: $black;
$color11: $white-two;
$color12: $blacksecondary;
$color13: $blue_dark_second;
$color14: $blue_gray;
$color15: $blackmenumobile;

/*FONT COLOR*/
$font-color-1: $color7;
$font-color-2: $color11;
$font-color-3: $color6;
