@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100,900);
/*TYPOGRAPHY*/
$font-family-primary: 'Roboto', sans-serif;
// $font-family-secondary:;

// $font-size-xxlarge: 100px;
$font-size-xlarge: 100px;
$font-size-large: 40px;
$font-size-medium: 18px;
$font-size-normal: 16px;
$font-size-small: 15px;
$font-size-xsmall: 14px;
$font-size-xxsmall: 12px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;
