@import '../../../styles/settings';

.miniGlobe {
  display: flex;
  background-color: $color-base;
  margin-right: 10px;

  .zone {
    color: $color-white;
    font-size: $font-size-xs-small;
    line-height: $font-size-small;
    width: 50%;
  }

  .svgContainer {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;

    .globeSvg {
      position: absolute;
      fill: $color-base;
      stroke: $color-base;
      background-color: $color-34;
      border-radius: 50%;
    }
  }
}

.viewport {
  stroke-width: 6px;
  fill: none;
  stroke: red;
}
