@import '../settings';

.banner {
  height: 60px;
  padding: 0 10px 0 50px;
  position: absolute;
  width: calc(100% - 50px);
  z-index: 21;


  @media #{$mq-tablet} {
    width: calc(100% - #{$map-panels-width});
  }

  .closeButton {
    background-color: $color-4;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    height: 20px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 20px;

    > .icon {
      position: relative;
      top: -1px;
    }
  }
}
