@import '../settings';
@import '../mixins';

.button {
  background-color: $color-32;
  border: 1px solid $color-31;
  color: $color-4;
  cursor: pointer;
  font-family: $font-family-1;
  font-size: $font-size-xs-small;
  font-weight: $font-weight-light-bold;
  height: 30px;
  outline: none;
  text-align: center;
  text-transform: uppercase;

  &._disabled {
    border: 1px solid rgba($color-3, .25);
    color: rgba($color-3, .5);
    pointer-events: none;
  }

  &._filled {
    background-color: $color-button-primary;
    border: 0;
    color: $color-4;
  }

  &._big {
    height: 40px;
  }

  &._wide {
    width: 100%;
  }

  &._half {
    width: 50%;
  }

  &._top {
    vertical-align: top;
  }
}

.buttonSubmitSmall {
  background-color: $color-3;
  border: 0;
  color: $color-4;
  cursor: pointer;
  display: block;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  letter-spacing: -.1px;
  margin: 45px auto 0;
  max-width: 115px;
  outline: 0;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.expandButton {
  outline: none;
  padding: 5px 6px;
  margin-left: 0px;
  width: 30px;
  height: 30px;

  svg {
    fill: $color-31 !important;
  }

  &.active {
    border: 1px solid $color-31;
    border-radius: 50%;
    margin-left: -1px;
    margin-right: -1px;

    svg {
      fill: $color-4 !important;
    }
  }
}

.deleteButton {
  width: 30px;
  height: 30px;
  padding-top: 2px;
}
