@import '../settings';

.buttonSubmitSmall {
  background-color: $color-3;
  border: 0;
  color: $color-4;
  cursor: pointer;
  display: block;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  letter-spacing: -.1px;
  margin: 45px auto 0;
  max-width: 115px;
  outline: 0;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.expandButton {
  outline: none;
  padding: 5px;
  
  svg {
    fill: $color-mid-blue !important;
  }
  
  &.active {
    border: 1px solid $color-mid-blue;
    border-radius: 50%;

    svg {
      fill: $color-4 !important;
    }
  }
}
