@import '../settings';

.c-btn-primary {
  align-items: center;
  background-color: $color-3;
  color: $color-4;
  display: flex;
  font-size: $font-size-small;
  height: 40px;
  justify-content: center;
  letter-spacing: -.1px;
  line-height: .4;
  max-width: 180px;
  min-height: 50px;
  padding: 15px 40px;
  text-decoration: none;

  img {
    margin-left: -5px;
    margin-right: 7px;
    width: 35px;
  }
}

.c-button-contact {
  background-color: $color-3;
  border: 0;
  color: $color-4;
  display: block;
  font-size: $font-size-normal;
  margin: 50px auto 0;
  max-width: 250px;
  padding: 20px 0;
  text-transform: uppercase;
  width: 100%;
}
