@import '../settings';

.c-btn-primary {
  align-items: center;
  background-color: $color-3;
  color: $color-4;
  display: flex;
  font-size: $font-size-small;
  height: 40px;
  justify-content: center;
  letter-spacing: -.1px;
  line-height: .4;
  padding: 15px 40px;
  text-decoration: none;
  width: 210px;

  img {
    margin-left: -5px;
    margin-right: 7px;
    width: 35px;
  }
}
