@import '../settings';

.c-cover-page {
  background: $color-19 url('../../assets/images/contact_us.png') center;
  background-size: cover;
  transition: background-image .2s ease-in-out;

  .layer-cover {
    background-color: rgba($color-19, .8);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  .contain-text-cover {
    @media #{$mq-tablet} {
      max-width: 870px;
    }
  }

  h1 {
    color: $color-4;
    font-size: $font-size-huge;
    font-weight: $font-weight-bold;
    letter-spacing: -1.5px;
    line-height: .85;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 170px;

    :global .slick-active {
      button {
        background-color: $color-3;
      }
    }

    li {
      display: inline-block;
    }

    &::after {
      background-color: $color-6;
      content: '';
      display: block;
      height: 5px;
      margin-bottom: 10px;
      margin-top: 20px;
      width: 170px;
    }
  }

  //Cover different with quote and different kind of text
  .leo-slider {
    padding-top: 170px;

    .contain-quote-text {
      max-width: 460px;

      blockquote {
        color: $color-4;
        font-family: $font-family-1;
        font-size: $font-size-x-normal;
        font-style: italic;
        font-weight: $font-weight-normal;
        letter-spacing: -.1px;
      }

      .author-quote {
        color: $color-4;
        font-family: $font-family-1;
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
        letter-spacing: -.1px;
        margin-bottom: 0;
        margin-top: 10px;

        &::after {
          background-color: $color-6;
          content: '';
          display: block;
          height: 5px;
          margin-bottom: 20px;
          margin-top: 20px;
          width: 170px;
        }
      }
    }
  }

  //Style cover sub-pages
  .cover-main-title {
    padding-top: 50px;
  }

  .cover-main-subtitle {
    margin-bottom: 60px;
  }

  .cover-attribution {
    position: relative;
    color: $color-4;
    font-size: $font-size-x-small;

    span {
      position: absolute;
      right: 6px;
      bottom: 1px;
    }
  }

  //Style blog post detail
  .cover-sub-title {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    line-height: 1.37;
    padding-top: 50px;
    text-transform: uppercase;

    a {
      color: $color-4;
      text-decoration: none;
    }
  }

  .cover-sub-subtitle {
    color: $color-4;
    font-size: $font-size-xxx-big;
    font-weight: $font-weight-bold;
    letter-spacing: -1.5px;
    line-height: 1.12;
    margin-bottom: 60px;
  }

  p {
    color: $color-4;
    letter-spacing: -.1px;
    margin-bottom: 170px;
  }

  .footer-header {
    align-items: flex-end;;
    color: $color-4;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;

    svg {
      cursor: pointer;
      display: none;
      fill: $color-4;
      margin-right: 15px;
      stroke: $color-4;
      stroke-width: 3;
      transform: rotate(45deg);

      &:last-child {
        margin-right: 0;
      }
    }

    div {
      &:last-child {
        z-index: 1;
      }
    }
  }

  .ldf-logo {
    display: block;
    margin-top: 15px;
    width: 140px;
  }

  //dots control de slider at home
  .dots-cover {
    list-style: none;
    position: relative;
    top: 0;

    :global .slick-active {
      button {
        background-color: $color-3;
      }
    }

    li {
      display: inline-block;

      button {
        background: $color-4;
        border: 0;
        font-size: 0;
        height: 14px;
        margin-right: 15px;
        outline: 0;
        transform: rotate(45deg);
        width: 14px;
      }

      &::after {
        border-bottom: 1.5px solid $color-4;
        content: '';
        height: 5px;
        margin-left: -13px;
        margin-top: 10px;
        position: absolute;
        top: .5px;
        width: 11px;
      }

      &:last-child {
        &::after {
          content: none;
        }
      }
    }
  }

  .selected-box {
    fill: $color-3;
    stroke: $color-3;
    stroke-width: 3;
  }
}
