@import '../_settings.scss';

.c-cover-page {
  background: $color-7 url('../../assets/images/home_slider_1-1.png') center;
  background-size: cover;
  transition: background-image .2s ease-in-out;

  .layer-cover {
    background-color: rgba($color-7, .8);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  .dots-cover {
    list-style: none;
    padding-left: 110px;
    position: relative;
    top: 0;

    :global .slick-active {
      button {
        background-color: $color-3;
      }
    }

    li {
      display: inline-block;

      button {
        background: $color-4;
        border: 0;
        font-size: 0;
        height: 14px;
        margin-right: 15px;
        outline: 0;
        transform: rotate(45deg);
        width: 14px;
      }
    }
  }

  .leo-slider {
    padding-top: 170px;

    blockquote {
      color: $color-4;
      font-family: $font-family-1;
      font-size: $font-size-x-normal;
      font-style: italic;
      font-weight: $font-weight-normal;
      letter-spacing: -.1px;
      max-width: 460px;
      padding-left: 110px;
    }

    .author-quote {
      color: $color-4;
      font-family: $font-family-1;
      font-size: $font-size-normal;
      font-weight: $font-weight-normal;
      letter-spacing: -.1px;
      margin-bottom: 0;
      margin-top: 10px;
      max-width: 460px;

      &::after {
        background-color: $color-6;
        content: '';
        display: block;
        height: 5px;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 170px;
      }
    }
  }

  h1 {
    color: $color-4;
    font-family: $font-family-1;
    font-size: $font-size-huge;
    font-weight: $font-weight-bold;
    letter-spacing: -1.5px;
    line-height: .85;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 1280px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 170px;

    &::after {
      background-color: $color-6;
      content: '';
      display: block;
      height: 5px;
      margin-bottom: 10px;
      margin-top: 18px;
      width: 174px;
    }
  }

  .cover-main-title {

    &::after {
      background-color: $color-6;
      content: '';
      display: block;
      height: 5px;
      margin-bottom: 20px;
      margin-top: 18px;
      width: 210px;
    }
  }

  .cover-sub-title  {
    font-family: $font-family-1;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    line-height: 1.37;
    padding-top: 75px;
    text-transform: uppercase;

    a {
      color: $color-4;
      text-decoration: none;
    }
  }

  .cover-sub-subtitle {
    color: $color-4;
    font-size: $font-size-huge;
    font-weight: $font-weight-bold;
    letter-spacing: -1.5px;
    line-height: 1.12;
    margin-bottom: 50px;
    max-width: 1000px;
  }

  p {
    color: $color-4;
    font-family: $font-family-1;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
    letter-spacing: -.1px;
    margin-bottom: 170px;
    max-width: 668px;
    padding-left: 110px;
  }

  .footer-header {
    align-items: flex-end;;
    color: $color-4;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-left: 110px;
    padding-right: 110px;

    svg {
      cursor: pointer;
      display: none;
      fill: $color-4;
      margin-right: 15px;
      stroke: $color-4;
      stroke-width: 3;
      transform: rotate(45deg);

      &:last-child {
        margin-right: 0;
      }
    }

    .selected-box {
      fill: $color-3;
      stroke: $color-3;
      stroke-width: 3;
    }

    div {
      &:last-child {
        z-index: 1;
      }
    }
  }

  .ldf-logo {
    display: block;
    margin-top: 15px;
    width: 140px;

  }

  .text-ldf-footer {
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    letter-spacing: -.1px;
    margin-bottom: 0;
    padding-left: 0;
  }
}
