@import '../settings';

.c-contact {
  background: url('../../assets/images/contact_us.jpg') no-repeat center;
  background-size: cover;
  min-height: 100%;
  position: relative;

  &::after {
    background-color: rgba($color-7, .8);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
}
