@import '../_settings.scss';

.c-cover-page {
  background-color: $color-9;
  background-image: url('../../assets/images/ship_1.jpg');
  background-size: cover;
  background-position: center;

  .layer-cover{
    background-color: rgba(23, 64, 132, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .dots-cover {
    list-style: none;
    padding-left: 110px;
    position: relative;
    top: 70px;

    :global .slick-active {
      button {
        background-color: $color-3;
      }
    }

    li {
      display: inline-block;

      button {
        background: $color-4;
        border: 0;
        font-size: 0;
        height: 14px;
        margin-right: 15px;
        outline: 0;
        transform: rotate(45deg);
        width: 14px;
      }
    }
  }
  .leo-slider{

    blockquote{
        max-width: 460px;
        font-family: $font-family-1;
        font-size: $font-size-x-normal;
        font-weight: $font-weight-normal;
        font-style: italic;
        letter-spacing: -.1px;
        color: $color-4;
        padding-left: 110px;
    }

    .author-quote {
      max-width: 460px;
      font-family: $font-family-1;
      font-size: $font-size-x-normal;
      font-weight: $font-weight-normal;
      letter-spacing: -.1px;
      color: $color-4;
      margin-top: 10px;
      margin-bottom: 0;

      &::after {
        content:'';
        display: block;
        margin-top: 20px;
        height: 5px;
        background-color: $color-10;
        margin-bottom: 20px;
        width: 170px;
      }
    }
  }

  h1 {
    color: $color-4;
    font-family: $font-family-1;
    font-size: $font-size-huge;
    font-weight: $font-weight-bold;
    letter-spacing: -1.5px;
    line-height: .85;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 1280px;
    padding-left: 110px;

    &::after {
      background-color: $color-10;
      content: '';
      display: block;
      height: 5px;
      margin-bottom: 10px;
      margin-top: 18px;
      width: 174px;
    }
  }

  p {
    color: $color-4;
    font-family: $font-family-1;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
    letter-spacing: -.1px;
    margin-bottom: 170px;
    max-width: 668px;
    padding-left: 110px;

  }

  .footer-header {
    align-items: center;
    color: $color-4;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 110px;
    padding-right: 110px;

    svg {
      cursor: pointer;
      display: none;
      fill: $color-4;
      margin-right: 15px;
      stroke: $color-4;
      stroke-width: 3;
      transform: rotate(45deg);

      &last-child {
        margin-right: 0;
      }
    }

    .selected-box {
      fill: $color-3;
      stroke: $color-3;
      stroke-width: 3;
    }

    div{
      &:last-child {
        z-index: 1;
      }
    }
  }

  .ldf-logo {
    display: block;
    width: 140px;
    margin-top: 15px;
  }
}
