@import '../base';

.c-contact {
  background: url('../../assets/images/contact_us.jpg') no-repeat center;
  background-size: cover;
  min-height: 100%;
  position: relative;

  .intro-contact {
    a {
      border-bottom: 1px solid $color-6;
    }
  }

  &::after {
    background-color: rgba($color-7, .8);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }

  .contain-text-contact {
    font-family: $font-family-1;
    position: relative;
    z-index: 1;

    h1 {
      color: $color-4;
      font-size: $font-size-x-big;
      font-weight: $font-weight-bold;
      letter-spacing: -1px;
      margin: 30px 0 20px;
      text-align: left;

      @media #{$mq-tablet} {
        font-size: $font-size-xxx-big;
        margin: 40px 0 30px;
        text-align: center;
      }
    }

    p {
      color: $color-4;
      font-size: $font-size-normal;
      line-height: 1.68;
      text-align: left;

      @media #{$mq-tablet} {
        font-size: $font-size-x-medium;
        text-align: center;
      }
    }
  }

  .emails-text {
    color: $color-4;
    font-family: $font-family-1;
    font-size: $font-size-small;
    line-height: 2;

    &:first-of-type {
      margin-bottom: 20px;
      margin-top: 50px;
    }

    ul {
      li {
        font-size: $font-size-small;

      }
    }

    a {
      border-bottom: 1px solid $color-6;
      color: $color-4;
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
    }
  }
}
