@import '../settings';

.filtersPanel {
  input {
    display: block;
  }
  select {
    width: 260px;
    height: 40px;
    background-color: $color-15;
    border: solid 1px $color-14;
    color: $color-4;
    font-weight: $font-weight-normal;
    font-size: $font-size-small;
    outline: 0;
    display: block;
    border-radius: 0;
    margin-bottom: 7px;
  }
}
