@import '../settings';

.filters-panel {

  input {
    display: block;
  }

  select {
    background-color: $color-15;
    border: solid 1px $color-14;
    border-radius:   0;
    color: $color-4;
    display: block;
    font-size: $font-size-x-normal;
    font-weight: $font-weight-normal;
    height: 40px;
    outline: 0;
    width: 260px;
  }
}
