@import '../settings';

.c-footer {
  background-color: $color-19;
  padding-top: 55px;

  //Section Founding Logos on footer
  .logos-footer {
    border-bottom: 2px solid rgba($color-4, .2);
    display: flex;
    justify-content: space-between;
    padding: 0 50px 55px 0;

    .partner-footer,
    .sponsor-footer {
      > .logo-list {
        align-items: center;
        display: flex;

        justify-content: space-between;
        list-style: none;
      }

      .logo-item > .logo {
        max-width: 130px;
        width: 100%;
      }
    }

    .partner-footer {
      flex-basis: 50%;

      > .partner-text {
        color: $color-16;
        display: block;
        font-size: $font-size-normal;
        margin-bottom: 35px;
      }
    }

    .sponsor-footer {
      align-items: flex-end;
      display: flex;
    }
  }

  //Section Navigation footer
  .nav-footer {
    display: flex;
    justify-content: space-between;
    padding: 55px 50px 60px 0;

    .nav-section {
      display: flex;
      flex-direction: column;
      list-style: none;

      & + .nav-section {
        padding-left: 20px;
      }

      .nav-item  {
        & + .nav-item {
          margin-top: 20px;
        }

        > .nav-link {
          color: $color-16;
          font-size: 15px;
          font-weight: $font-weight-light;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }

    > .social-section {
      position: relative;

      // Get rid of this, this is a button component
      .subscribe-button {
        background-color: $color-6;
        border-radius: 1px;
        color: $color-4;
        display: flex;
        font-size: $font-size-x-small;
        font-weight: $font-weight-light;
        padding: 10px 15px;
        text-decoration: none;
        text-transform: uppercase;

        > .email-subscribe {
          margin-left: 10px;
        }
      }

      > .social-links {
        margin-top: 35px;

        > .social-text {
          color: $color-16;
          font-weight: $font-weight-light;
          text-transform: uppercase;
        }

        // TO-DO
        > .social-list {
          list-style: none;
          > .social-item {};
        }
      }
    }
  }

  //Section Brand footer
  .second-footer {
    align-items: center;
    background-color: $color-12;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 5px 0;

    > .gfw-logo {
      height: 100%;
    }

    > .gfw-text {
      color: $color-4;
      font-size: $font-size-x-small;
      font-weight: $font-weight-light;
      margin-left: 10px;
    }
  }
}
