@import '../base';

.c-funder-section {
  background-color: $color-10;
  padding-bottom: 100px;
  padding-top: 85px;

  h2 {
    color: $color-9;
    font-size: $font-size-xx-big;
    font-weight: $font-weight-normal;
    line-height: 1.05;
    margin-bottom: 70px;
  }

  .ldf-information {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 90px;
    padding-right: 90px;

    img {
      width: 280px;
    }

    p {
      font-size: $font-size-small;
      margin-left: 80px;
      max-width: 520px;
    }
  }

  .funder-logos {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 110px;

    @media #{$mq-tablet} {
      flex-direction: row;
    }
  }

  .funder-logo {
    flex: 1 1 auto;
    margin: 15px;

    img {
      width: 100%;
    }
  }
}
