@import '../settings';

.c-link-box {
  align-items: center;
  color: $color-7;
  display: flex;
  font-family: $font-family-1;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  letter-spacing: -.1px;
  line-height: .4;
  text-decoration: none;

  img {
    margin-left: -5px;
    margin-right: 7px;
    width: 35px;
  }
}
