@import '../base/text.scss';
@import '../base/colors.scss';
@import '../base/screen.scss';
.c-list-posts {
  font-family: $font-family-primary;
  article {
    h2 {
      font-size: $font-size-large;
      font-weight: $font-weight-regular;
      line-height: 1.05;
      color: $color7;
      display: block;
      padding: 0 290px;
      margin: 60px auto 18px;
    }
    span {
      p {
        font-size: $font-size-normal;
        font-family: $font-family-secondary;
        font-weight: $font-weight-regular;
        line-height: 1.63;
        color: $color7;
        display: block;
        padding: 0 290px;
        margin: 0px auto 18px;
      }
    }
    div {
      width: initial !important;
    }
    img {
      margin: 0 auto;
      display: block;
      width: 100%;
      height: 100%;
      max-width: 1060px;
      margin-bottom: 18px;
    }
  }
  .button-more {
    padding: 0 290px;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-family: $font-family-primary;
      font-weight: $font-weight-bold;
      line-height: 0.4;
      letter-spacing: -0.1px;
      font-size: $font-size-small;
      color: $color6;
      margin-top: 45px;
      img {
        width: 35px;
        margin-right: 7px;
        margin-left: -5px;
        margin-bottom: 0;
      }
    }
  }
  hr{
    height: 2px;
    background-color: $color8;
    margin-top: 65px;
  }
}
