@import '../settings';

.c-list-posts {
  font-family: $font-family-1;
  padding: 0 20px;
  @media #{$mq-tablet} {
    padding: 0;
  }
  a{
    text-decoration: inherit;
  }
  .article-post {
    margin-bottom: 110px;
    margin-top: 60px;
  }

  article {

    h2 {
      color: $color-9;
      display: block;
      font-size: $font-size-xx-big;
      font-weight: $font-weight-normal;
      line-height: 1.05;
      margin: 60px auto 18px;
      max-width: 700px;
      width: 100%;
      }

    span {

      p {
        color: $color-9;
        display: block;
        font-family: $font-family-2;
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
        line-height: 1.63;
        margin: 0 auto 18px;
        max-width: 700px;
        width: 100%;
        }

      }

    div {
      width: initial !important;
    }

    img {
      display: block;
      height: 100%;
      margin: 0 auto;
      margin-bottom: 18px;
      max-width: 1060px;
      width: 100%;
    }
    }

  .button-more {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;

    a {
      align-items: center;
      color: $color-8;
      display: flex;
      font-family: $font-family-1;
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      letter-spacing: -.1px;
      line-height: .4;
      margin-top: 45px;
      text-decoration: none;

      img {
        margin-bottom: 0;
        margin-left: -5px;
        margin-right: 7px;
        width: 35px;
      }
    }
  }

  hr {
    background-color: $color-10;
    height: 2px;
    margin-top: 65px;

    &::after {
      display: none;
    }
  }

  .datapost{
    display: block;
    max-width: 700px;
    width: 100%;
    margin: 15px auto;
  }
}
