@import '../application';

.c-loader {
  height: 65px;
  margin: 90px auto;
  position: relative;
  width: 65px;

  .sk-child {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &::before {
      animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
      background-color: $color-8;
      border-radius: 100%;
      content: '';
      display: block;
      height: 20%;
      margin: 0 auto;
      width: 20%;
    }
  }

  .sk-circle2 {
    transform: rotate(30deg);

    &::before {
      animation-delay: -1.1s;
    }
  }

  .sk-circle3 {
    transform: rotate(60deg);

    &::before {
      animation-delay: -1s;
    }
  }

  .sk-circle4 {
    transform: rotate(90deg);

    &::before {
      animation-delay: -.9s;
    }
  }

  .sk-circle5 {
    transform: rotate(120deg);

    &::before {
      animation-delay: -.8s;
    }
  }

  .sk-circle6 {
    transform: rotate(150deg);

    &::before {
      animation-delay: -.7s;
    }
  }

  .sk-circle7 {
    transform: rotate(180deg);

    &::before {
      animation-delay: -.6s;
    }
  }

  .sk-circle8 {
    transform: rotate(210deg);

    &::before {
      animation-delay: -.5s;
    }
  }

  .sk-circle9 {
    transform: rotate(240deg);

    &::before {
      animation-delay: -.4s;
    }
  }

  .sk-circle10 {
    transform: rotate(270deg);

    &::before {
      animation-delay: -.3s;
    }
  }

  .sk-circle11 {
    transform: rotate(300deg);

    &::before {
      animation-delay: -.2s;
    }
  }

  .sk-circle12 {
    transform: rotate(330deg);

    &::before {
      animation-delay: -.1s;
    }
  }
}

@-webkit-keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
