@import '../settings';

.map {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.zoom-controls {
  bottom: 135px;
  left: 35px;
  position: absolute;
  z-index: 6;

  > .control {
    background-color: $color-19;
    border: 1px solid $color-21;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 $color-22;
    color: $color-4;
    cursor: pointer;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;

    & + .control {
      margin-top: 5px;
    }
  }
}

.timebar-container {
  bottom: $map-footer-height;
  height: $timebar-height;
  left: 0;
  width: 100%;
  z-index: 6;
}

.map-container {
  height: calc(100% - 88px);
  position: relative;

  @media screen and (min-width: 900px) {
    height: calc(100% - #{$map-footer-height + $timebar-height}); // footer mini height
  }


  :global .gmnoprint,
  :global .gmaps,
  :global .cartodb-logo,
  :global .gm-style a {
    display: none !important; // sass-lint:disable-line no-important
  }
}

.map-iframe-container {
  height: calc(100% - 88px);
  width: 100%;

  @media screen and (min-width: 900px) {
    height: calc(100% - 38px); // footer mini height
  }

  &.-placeholder {
    background-image: url('../../../assets/images/iframe_image.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  > iframe {
    border: 0;
    display: block;
    height: 100%;
    width: 100%;
  }
}
