@import '../settings';

.map {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.zoom-controls {
  bottom: 135px;
  left: 35px;
  position: absolute;
  z-index: 6;

  > .control {
    background-color: $color-19;
    border: 1px solid $color-21;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 $color-22;
    color: $color-4;
    cursor: pointer;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;

    & + .control {
      margin-top: 5px;
    }
  }
}

.timebar-container {
  bottom: 0;
  height: $timebar-height;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 6;
}

.map-container {
  height: calc(100% - 38px);
  position: relative;
}
