@import '../settings';

.c_mobile_menu {
  font-family: $font-family-1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 90%;
  max-width: 290px;
  background-color: $color-7;
  transition: all 0.3s ease-in 0.2s;
  transform: translatex(-100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: $color-11;
  padding: 25px 30px;
  ul {
    list-style: none;
    li {
      display: block;
      color: $color-4;
      font-size: $font-size-x-normal;
      font-weight: $font-weight-bold;
      line-height: 2.58;
    }
  }
  .submenu_mobile {
    list-style: none;
    padding-left: 30px;
    li {
      display: block;
      color: $color-4;
      font-size: $font-size-x-normal;
      font-weight: $font-weight-normal;
      line-height: 2.58;
    }
  }
  .button_login {
    background-color: #92b9c6;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    line-height: 1.29;
    letter-spacing: 1px;
    text-align: center;
    padding: 22px 60px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    max-width: 234px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: $color-4;
    cursor: pointer;
  }
  .forgot_text {
    color: $color-4;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
  }
}

.menu_back {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.8);
  // display: none;/*change*/
}
