@import '../base';

.c-other-section {
  padding-top: 75px;

  h2 {
    color: $color-9;
    font-size: $font-size-x-medium;
    font-weight: $font-weight-normal;
    line-height: 1.05;
    margin-bottom: 25px;

    @media #{$mq-tablet} {
      font-size: $font-size-xx-big;
      line-height: 1.05;
      margin-bottom: 70px;
    }
  }

  .other-logos {
    display: flex;
    flex-direction: column;

    @media #{$mq-mobile-large} {
      align-items: center;
      flex-direction: row;
      padding-left: 90px;
      padding-right: 90px;
    }

    img {
      margin: 20px auto 25px;
      max-width: 200px;
      width: 100%;

      &:first-of-type {
        margin-top: 0;
      }

      @media screen and (min-width: 425px) {
        margin-bottom: 0;
      }

      @media screen and (min-width: 460px) {
        margin: 0;
        margin-right: 20px;
      }

      &.img-small {
        max-width: 100px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
