@import '../_settings.scss';

.c-pagination-blog {
  background-color: $color-8;
  margin-top: 90px;
  padding: 65px 290px;

  div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;

    img {
      cursor: pointer;
      width: 40px;
    }

    .left-triangle {
      opacity: .5;
      transform: rotate(180deg);
    }

    ul {
      list-style: none;

      li {
        color: $color-7;
        cursor: pointer;
        display: inline-block;
        font-family: $font-family-1;
        font-size: $font-size-small;
        margin-right: 20px;
        text-align: center;
        width: 14px;

        &::after {
          margin-right: 0;
        }
      }
    }

    .page-selected {
      &::after {
        background-color: $color-10;
        border-radius: 100px;
        content: '';
        display: block;
        height: 4px;
        margin: 4px auto 0;
      }
    }
  }
}
