@import '../_settings.scss';

.c-pagination-blog {
  background-color: $color-10;
  display: flex;
  height: 150px;
  margin-top: 90px;

  div {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;

    img {
      cursor: pointer;
      width: 40px;
    }

    .left-triangle {
      opacity: .3;
      transform: rotate(180deg);
    }

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      width: 100%;

      li {
        color: $color-7;
        cursor: pointer;
        display: inline-block;
        font-family: $font-family-1;
        font-size: $font-size-small;
        margin-right: 20px;
        text-align: center;
        transition: .2s;
        width: 14px;
        position: relative;
        top: 15px;

        &:first-child {
          margin-right: 80px;
          position: relative;
          top: 4px;
          &:hover {
            &::after {
              content: '';
              display: none;
            }
          }
        }

        &:last-child {
          position: relative;
          margin-left: 54px;
          top: 5px;
          &:hover {
            &::after {
              content: '';
              display: none;
            }
          }
        }

        &:nth-child(2) {
          margin-left: 20px;
        }

        &::after {
          margin-right: 0;
        }

        &:hover {
          &::after {
            background-color: $color-7;
            border-radius: 100px;
            content: '';
            display: block;
            height: 4px;
            margin: 4px auto 0;
            opacity: .3;
          }
        }
      }
    }

    .page-selected {
      &::after {
        background-color: $color-7;
        border-radius: 100px;
        content: '';
        display: block;
        height: 4px;
        margin: 4px auto 0;
      }
    }
  }
}
