@import '../base';

.c-partner-section {
  margin-top: 20px;
  padding-bottom: 60px;

  @media #{$mq-tablet} {
    margin-top: 85px;
    padding-bottom: 90px;
  }

  .name-list {
    display: block;
    margin-bottom: 20px;
    //or a line separator? ask daniel

    li {
      display: block;
      font-size: $font-size-normal; //or $font-size-small
      line-height: 1.5;
      margin-bottom: 0;
      width: 100%;

    }
  }

  .contain-img-logo {
    align-items: center;
    display: flex;
    height: inherit;
    margin-bottom: 30px;

    @media #{$mq-tablet} {
      height: 90px;
      margin-bottom: 40px;
    }

    .img-logo-partners {
      display: block;
      margin: 0 auto;
      width: 200px;
    }
  }

  h2 {
    color: $color-9;
    font-size: $font-size-x-medium;
    font-weight: $font-weight-normal;
    line-height: 1.05;
    margin-bottom: 30px;

    @media #{$mq-tablet} {
      font-size: $font-size-xx-big;
      line-height: 1.05;
      margin-bottom: 70px;
    }
  }

  h3 {
    color: $color-9;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
    line-height: 1.05;
    margin-bottom: 10px;

    @media #{$mq-tablet} {
      font-size: $font-size-x-big;
      line-height: 1.05;
    }
  }

  ul {
    align-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;

    @media #{$mq-tablet} {
      flex-direction: row;
    }

    li {
      display: block;
      margin-bottom: 60px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      @media #{$mq-tablet} {
        display: inline-block;
        margin-bottom: 0;
        padding-right: 22px;
        width: calc(100% / 3);

        &:last-child {
          padding-right: 0;
        }
      }

      p {
        font-size: $font-size-small;
      }
    }
  }
}
