@import '../base';

.c-research-section {
  padding-top: 85px;

  h2 {
    color: $color-9;
    font-size: $font-size-xx-big;
    font-weight: $font-weight-normal;
    line-height: 1.05;
    margin-bottom: 60px;
  }
}
