@import '../base';

.c-research-section {
  padding-top: 50px;

  @media #{$mq-tablet} {
    padding-top: 85px;
  }

  h2 {
    color: $color-9;
    font-size: $font-size-x-medium;
    font-weight: $font-weight-normal;
    line-height: 1.05;
    margin-bottom: 15px;

    @media #{$mq-tablet} {
      font-size: $font-size-xx-big;
      line-height: 1.05;
      margin-bottom: 70px;
    }
  }

  .image-slider {
    margin: 0 auto;
    max-width: 140px;
    width: 100%;

    &.-small {
      max-width: 90px;
    }

    @media #{$mq-tablet} {

      &.-small {
        max-width: 90px;
      }
    }
  }

  .slider-logos {
    padding-left: 28px;
    padding-right: 43px;

    @media #{$mq-laptop} {
      padding-left: 135px;
      padding-right: 135px;
    }
  }

  :global .slick-track {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  :global .slick-slide {
    padding: 10px;
  }

  :global .slick-next,
  :global .slick-prev {
    width: 0;

    &::before {
      background: transparent;
      border-bottom: rgba($color-9, .6) 2px solid;
      border-left: rgba($color-9, .6) 2px solid;
      content: '';
      height: 15px;
      position: absolute;
      top: 0;
      width: 15px;
     }
  }

  :global .slick-next {
    min-width: 20px;

    &::before {
      transform: rotate(-135deg);
    }
  }

  :global .slick-prev {
    min-width: 20px;

    &::before {
      transform: rotate(45deg);
    }
  }
}
