@import '../settings';

.c-text-pages {

  article {

    h2 {
      font-size: $font-size-x-medium;
      font-weight: $font-weight-normal;
      margin: 30px 0 18px;

      @media #{$mq-tablet} {
        font-size: $font-size-xx-big;
      }
    }

    .first-level-list,
    .second-level-list,
    .third-level-list,
    .third-level-ordered-list {
      margin: 0 0 20px 20px;

      &:last-child {
        margin-bottom: 0;
      }

      > li {
        margin-top: 20px;
      }
    }

    .first-level-list {
      margin-left: 0;

      > li {

        &::before {
          font-size: $font-size-x-medium;
          line-height: 1.2;

          @media #{$mq-tablet} {
            font-size: $font-size-xx-big;
          }
        }
      }

      > li > h2 {
        padding-left: 10px;

        &.more-list {
          padding-left: 35px;
        }
      }
    }

    .second-level-list {
      > li {
        &::before {
          font-size: $font-size-medium;
          line-height: 1.2;
        }
      }
    }

    .third-level-list {
      list-style-type: disc;
    };

    .third-level-ordered-list {
      > li {
        &::before {
          font-size: $font-size-normal;
        }
      }
    }

    ol {
      counter-reset: counter;
      list-style: none;

      > li {
        padding-left: 25px;
        position: relative;

        &::before {
          content: counter(counter) '.';
          counter-increment: counter;
          font-size: $font-size-xx-big;
          left: 0;
          line-height: 1.6;
          position: absolute;
        }
      }

      &.-orbcomm {
        > li {
          margin-bottom: 20px;

          &::before {
            font-size: $font-size-normal;
          }
        }
      }
    }

    address {
      margin-top: 20px;
    }
  }
}
