@import '../application';

.c-the-project {

  .container-the-project {
    padding: 85px 0 90px;
  }

  ul {

    li {
      color: $color-9;
      font-family: $font-family-2;
      font-size: $font-size-normal;
      line-height: 1.6;

      &:first-child {
        margin-top: 15px;
      }

      & + li {
        margin-top: 15px;
       }
     }
  }

  .steps-list {
    display: flex;
    list-style: none;


    li {
      padding-right: 20px;
      width: calc(100% / 3);
    }
  }

  .line-separator {
    background-color: $color-10;
    border: 0;
    height: 2px;
  }
}
