@import '../application';

.c-tooltip-info {
  display: inline-flex;
  position: relative;

  &::before {
    content: '\00a0 ';
    display: inline-block;
  }

  &::after {
    content: '\00a0 ';
    display: inline-block;
  }

  .content-tooltip {
    background: rgba($color-19, .95);
    bottom: 30px;
    box-shadow: 0 2px 4px 0 rgba($color-12, .5);
    color: $color-4;
    font-family: $font-family-1;
    left: 50%;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 0);
    visibility: hidden;
    width: 200px;

    &::before {
      -webkit-filter: drop-shadow(-1px 1px 1px rgba($color-12, .5));
      border: 6px solid;
      border-color: transparent transparent rgba($color-19, .95) rgba($color-19, .95);
      bottom: 0;
      content: '';
      filter: drop-shadow(-1px 1px 1px rgba($color-12, .5));
      height: 0;
      left: 50%;
      opacity: .95;
      position: absolute;
      transform: translate(-50%, 50%) rotate(-45deg);
      width: 0;
    }
  }

  &:hover {
    .content-tooltip {
      visibility: visible;
      z-index: 2;
    }
  }
}
