@import '../application';

.c-tooltip-info {
  border: 0 !important;
  cursor: pointer;
  position: relative;

  &::after {
    background: url('../../assets/icons/info_black.svg');
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: 4px;
    width: 15px;
  }

  &.-white::after {
    background: url('../../assets/icons/info_white.svg');
  }

  &:hover:before,
  &:focus:before {
    background: rgba($color-19, .95);
    box-shadow: 0 2px 4px 0 rgba($color-12, .5);
    color: $color-4;
    content: attr(title);
    left: 50%;
    margin-left: -100px;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    top: 34px;
    width: 200px;
  }

  &:hover i,
  &:focus i {
    border: 6px solid;
    border-color: transparent transparent rgba($color-19, .95) rgba($color-19, .95);
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    top: 28px;
    transform: scale(1, -1) rotate(-45deg);
    width: 0;
  }
}
