@import '../application';
@import '../settings';

.c-tooltip-info {
  border: 0 !important;
  cursor: pointer;
  position: relative;

  > .c-tooltip-info-title::after {
    background: url('../../assets/icons/info_gray.svg');
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: 4px;
    width: 15px;
  }

  > .c-tooltip-info-title.-white::after {
    background: url('../../assets/icons/info_white.svg');
  }

  > .c-tooltip-info-title.-black::after {
    background: url('../../assets/icons/info_black.svg');
  }

  > .c-tooltip-info-content {
    background: $color-19;
    box-shadow: 0 2px 4px 0 rgba($color-12, .5);
    color: $color-4;
    margin-left: 100px;
    padding: 15px 0;
    position: absolute;
    right: -90px;
    text-align: center;
    top: 33px;
    width: 200px;
    z-index: 99;

    &:after {
      border: 6px solid;
      border-color: transparent transparent $color-19 $color-19;
      content: '';
      height: 0;
      left: 95px;
      position: absolute;
      right: 0;
      top: -4px;
      transform: scale(1, -1) rotate(-45deg);
      width: 0;
    }
  }

  .c-tooltip-info-link {
    border-bottom: 1px solid $color-6;
    color: $color-4;
    font-weight: $font-weight-bold;
  }
}
