@import '../application';

.c-tutorial-page {
  -webkit-font-smoothing: antialiased;
  padding-bottom: 90px;
  padding-top: 85px;

  .video-container {
    margin-top: 30px;
    min-height: 590px;
    position: relative;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
