@import '../settings';

.c-vessel-info-panel {
  background-color: $color-7;
  box-shadow: 0 0 4px 0 rgba($color-12, .5);
  color: $color-4;
  display: block;
  font-family: $font-family-1;
  width: 100%;

  .button-close {
    background-color: $color-4;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 26px;

    > .cross {
      height: 11px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 11px;
    }
  }

  .vessel-metadata {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px 15px;

    > .row-info {
      display: flex;
      flex-basis: calc(50% - 10px);
      flex-direction: column;
      flex-wrap: wrap;
      padding: 4px 0;

      &:nth-child(2n) {
        margin: 0 0 0 5px;
      }

      > .key,
      > .value {
        color: $color-4;
        font-size: $font-size-xxs-small;
      }

      > .key {
        font-weight: $font-weight-bold;
      }

      > .value {
        padding: 5px 0 0;
      }
    }

    > .external-link {
      color: $color-3;
      display: inline-block;
      font-family: $font-family-1;
      font-size: $font-size-xxs-small;
      margin: 15px 0 0;
    }
  }
}
