@import '../settings';

.vesselPanel {
  font-family: $font-family-1;
  position: absolute;
  background: $color-7;
  z-index: 9;
  right: 0;
  background-color: $color-7;
  width: 320px;
  bottom: 130px;
  max-height: calc(100% - 391px);
  overflow-y: auto;
  max-width: 320px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  color: $color-4;
  padding: 30px 0px;
  p {
    padding: 2px 30px;
  }
  h3 {
    padding: 7px 30px;
  }
  a {
    color: $color-18;
  }
}

.trackMode {
  padding: 7px 30px;
  width: 90%;
  margin: 0 auto;

  label {
    display: inline-block;
    float: left;
    clear: left;
    text-align: left;
  }
  input {
    display: inline-block;
    float: left;
  }
}
