@import '../base/text.scss';
@import '../base/colors.scss';
.c_box_triangle {
  margin: 0 auto;
  width: 52px;
  height: 52px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  border-right: 2px solid $color9;
  border-bottom: 2px solid $color9;
  margin-bottom: -30px;
  cursor: pointer;
  .triangle_min {
    width: 12px;
    height: 12px;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    border-right: 2px solid $color9;
    border-bottom: 2px solid $color9;
    margin-bottom: 0;
    margin-left: 32px;
    margin-top: 32px;
  }
}
