@import '../base/text.scss';
@import '../base/colors.scss';

.c_btn_primary {
  background-color: $color4;
  color: $color9;
  text-decoration: none;
  display: inline-block;
  font-family: $font-family-primary;
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  letter-spacing: -0.1px;
  line-height: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 40px;
  img {
    width: 35px;
    margin-left: -5px;
    margin-right: 7px;
  }
}
