@import '../base/text.scss';
@import '../base/colors.scss';
.c_cover_page {
  background-color: $bluesecondary;
  padding-top: 100px;
  h1 {
    font-family: $font-family-primary;
    font-size: $font-size-xlarge;
    font-weight: $font-weight-bold;
    line-height: 0.85;
    letter-spacing: -1.5px;
    color: $color9;
    max-width: 870px;
    padding-left: 124px;
    margin-bottom: 0;
    margin-top: 0;
    &:after {
      content: "";
      display: block;
      height: 5px;
      background-color: $color3;
      margin-top: 18px;
      margin-bottom: 10px;
      width: 174px;
    }
  }
  p {
    padding-left: 124px;
    color: $color9;
    font-family: $font-family-primary;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    letter-spacing: -0.1px;
    max-width: 668px;
    margin-bottom: 170px;
  }
  .footer_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 170px;
    padding-left: 140px;
    color: $white;
    padding-bottom: 40px;
    svg {
      fill: #FFF;
      stroke-width: 3;
      stroke: #FFF;
      transform: rotate(45deg);
      margin-right: 15px;
      &last-child{
        margin-right: 0;
      }
    }
  }
}
