@import '../base/text.scss';
@import '../base/colors.scss';
footer {
  font-family: $font-family-primary;
  background-color: $color5;
  padding-top: 56px;
  padding-left: 170px;
  padding-right: 170px;
  .project_name_footer {
    background-color: $color10;
  }
}
