$corporateColor: #233e76;

.map {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.loginButton,
.loggedUser {
  position: absolute !important;
  top: 50px;
  left: 10px;
  z-index: 10;
}

.loginButton,
.loggedUser {
  right: 10px;
  left: inherit;
}

.zoom_controls {
  position: absolute;
  bottom: 135px;
  left: 10px;
  z-index: 6;
  span {
    background-color: $corporateColor;
    height: 35px;
    width: 35px;
    display: block;
    border-radius: 50%;
    color: white;
    line-height: 35px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
}

.timebar_container {
  height: 70px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 6;
}

.map_container {
  height: calc(100% - 140px);
  position: relative;
}
