@import '../settings';

.map {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.latlon {
  display: none;
  @media #{$mq-tablet} {
    color: rgba($color-4, .7);
    display: block;
    font-size: $font-size-xxs-small;
    font-weight: bold;
    left: 56px;
    position: absolute;
    top: 112px;
    z-index: 99;
  }
}

.attributionsContainer {
  background-image: linear-gradient(to bottom, rgba(0, 17, 55, .9), rgba(8, 23, 54, 0));
  height: 40px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: calc(#{$header-height-mobile} + #{$mobile-height});
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 101;

  @media #{$mq-tablet} {
    display: none;
  }

  &._embed {
    top: $header-height-mobile;
  }
}

.attributionsContainer > .mobileMapAttributions {
  color: rgba($color-4, .6);
  display: inline-block;
  font-size: $font-size-xxs-small;

  margin: 3px 0 0;
  max-width: 400px;
  text-align: center;

  > .link {
    color: inherit;
    font-size: inherit;
  }
}

.mapLoader {
  left: 8px;
  position: absolute;
  top: 160px;
  z-index: 6;

  @media #{$mq-tablet} {
    left: 6px;
    top: 250px;
  }

  &._isEmbedded {
    left: 6px;
    top: 110px;

    @media #{$mq-tablet} {
      top: 204px;
    }
  }
}

.zoomControls {
  display: none;

  @media #{$mq-tablet} {
    display: block;
    left: 6px;
    position: absolute;
    top: 112px;
    z-index: 6;
  }

  > .control {
    align-items: center;
    background-color: $color-19;
    box-shadow: 0 0 8px 0 rgba($color-22, .3);
    color: $color-4;
    cursor: pointer;
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    text-align: center;

    &:not(:first-child) {
      margin: 2px 0 0;
    }

    &._disabled {
      opacity: .75;
      pointer-events: none;
    }
  }
}

.timebarContainer {
  bottom: $map-footer-height;
  height: $timebar-height;
  left: 0;
  width: 100%;
  z-index: 20;

  &._noFooter {
    bottom: 0;
  }
}

.mapContainer {
  height: calc(100% - #{$map-footer-height + $timebar-height});
  position: relative;
  z-index: 4;

  @media screen and (min-width: 900px) {
    height: calc(100% - #{$map-footer-height + $timebar-height}); // footer mini height
  }

  &._noFooter {
    height: calc(100% - #{$timebar-height});
  }
}

.mapIframeContainer {
  height: calc(100% - 88px);
  width: 100%;

  @media screen and (min-width: 900px) {
    height: calc(100% - 38px); // footer mini height
  }

  &._placeholder {
    background-image: url('../../../assets/images/iframe_image.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  > iframe {
    border: 0;
    display: block;
    height: 100%;
    width: 100%;
  }
}

:global .mapboxgl-ctrl-logo {
  position: absolute;
  pointer-events: all;
  right: 38px;
  bottom: 15px;
}

// override Mapbox GL JS style to always show compact style
:global .mapboxgl-ctrl-attrib {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin: 0 10px 10px 10px !important;
  position: relative;
  padding-right: 24px !important;
  background-color: #fff !important;
  border-radius: 3px 12px 12px 3px;
  visibility: hidden;
  z-index: 999;
}
:global .mapboxgl-ctrl-attrib:hover {
  visibility: visible;
}
:global .mapboxgl-ctrl-attrib:after {
  content: '';
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0D%0A%09%3Cpath%20fill%3D%27%23333333%27%20fill-rule%3D%27evenodd%27%20d%3D%27M4%2C10a6%2C6%200%201%2C0%2012%2C0a6%2C6%200%201%2C0%20-12%2C0%20M9%2C7a1%2C1%200%201%2C0%202%2C0a1%2C1%200%201%2C0%20-2%2C0%20M9%2C10a1%2C1%200%201%2C1%202%2C0l0%2C3a1%2C1%200%201%2C1%20-2%2C0%27%20%2F%3E%0D%0A%3C%2Fsvg%3E");
  background-color: rgba(255, 255, 255, .5);
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  visibility: visible;
  border-radius: 12px;
}

@media #{$mq-tablet} {
  :global .mapboxgl-ctrl-logo {
    right: 20px;
    bottom: 15px;
  }

  :global .mapboxgl-ctrl-attrib, :global .mapboxgl-ctrl-attrib:after {
    display: none; // use attribution of the footer
  }
}
