@import '../settings';

.vesselInfoPanel {
  background-color: $color-7;
  color: $color-4;
  display: block;
  font-family: $font-family-1;
  top: $mobile-height;
  width: 100%;
  z-index: 1;

  @media #{$mq-tablet} {
    position: relative;
    top: 0;
  }

  &._expanded {

    > .vesselMetadata {
      max-height: none;
      overflow: visible;
    }
  }

  > .vesselMetadata {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: $vessel-info-height;
    overflow: hidden;
    padding: 20px 20px 15px;

    @media #{$mq-tablet} {
      max-height: none;
    }

    .rowInfo {
      display: flex;
      flex-basis: calc(50% - 10px);
      flex-direction: column;
      flex-wrap: wrap;
      padding: 4px 0 10px;

      &:nth-child(2n) {
        margin: 0 0 0 5px;
      }

      > .key,
      > .value {
        color: $color-4;
        font-size: $font-size-xxs-small;
      }

      > .key {
        font-weight: $font-weight-bold;
      }

      > .value {
        padding: 5px 0 0;
      }
    }


    .externalLink {
      color: $color-3;
      cursor: pointer;
      display: inline-block;
      font-family: $font-family-1;
      font-size: $font-size-xxs-small;
      margin: 15px 0 0;
      text-decoration: underline;
    }

    .linkList {
      display: flex;
      flex-wrap: wrap;

      > .linkListItem {
        width: calc(50% - 3px);

        &:nth-child(2n) {
          margin: 0 0 0 6px;
        }
      }

      > .linkListItem > .externalLink {
        margin: 10px 0 0;
      }
    }

    .zoom {
      color: $color-3;
      cursor: pointer;
      display: block;
      font-family: $font-family-1;
      text-decoration: underline;
    }
  }

  .pinIcon {
    fill: $color-3;
    position: absolute;
    right: 86px;
    
    @media #{$mq-tablet} {
      right: 30px;
      margin-top: 5px;
    }

    &._pinned {
      fill: #fff;
    }
  }

  .buttonsContainer {
    bottom: 0;
    display: flex;
    right: 8px;
    transform: translate(0, 50%);

    float: right !important;
    padding-right: 10px;

    @media #{$mq-tablet} {
      padding-right: 0px;
      position: absolute;
      bottom: auto;
      left: 98px;
      right: 0;
      top: 0;
      transform: translate(-50%, -50%);
    }


    > button {
      position: relative;
      transform: none;

      &:not(:first-child) {
        margin: 0 0 0 10px;
      }
    }
  }
}
