@import '../../settings';
.areasPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0 0;

  .actionButtons {
    button {
      width: calc(50% - 20px);
      margin-right: 20px;
    }
  }

  .nameInput {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba($color-3, .3);
    border-radius: 0;
    color: $color-31;

    font-size: $font-size-x-small;
    font-weight: $font-weight-normal;
    line-height: 1.8;

    outline: 0;
    margin-bottom: 20px;
    padding-right: 30px;
    width: 100%;

    &::-webkit-input-placeholder {
      color: rgba($color-3, .3);
    }

    &::-moz-placeholder {
      color: rgba($color-3, .3);
    }

    &:-ms-input-placeholder {
      color: rgba($color-3, .3);
    }
  }

  .areaItem {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    .name {
      padding-left: 14px;
    }
  }
}

