@import '../../settings';

.button {
  background-color: $color-32;
  border: 1px solid $color-31;
  color: $color-4;
  cursor: pointer;
  font-family: $font-family-1;
  font-size: $font-size-xs-small;
  font-weight: $font-weight-normal;
  height: 30px;
  outline: none;
  text-align: center;
  text-transform: uppercase;

  &._disabled {
    border: 1px solid rgba($color-3, .25);
    color: rgba($color-3, .5);
    pointer-events: none;
  }

  &._filled {
    background-color: $color-button-primary;
    border: 0;
    color: $color-4;
  }

  &._big {
    height: 40px;
  }

  &._wide {
    width: 100%;
  }
}
