@import '../../settings';

.c-button {
  border: 0;
  cursor: pointer;

  &.-filled {
    background-color: $color-3;
    color: $color-4;
    padding: 15px 0;
    font-size: $font-size-x-small;
    font-weight: $font-weight-bold;
    text-align: center;
    text-transform: uppercase;
  }
}
