@import '../../settings';

.c-custom-layer {

  > .upload-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .submit-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      margin: 55px 0 0;

      @media #{$mq-tablet} {
        margin: 45px 0 0;
      }
    }

    .submit-container > .submit-button {
      width: 180px;
    }

    .submit-error {
      color: $color-6;
      font-family: $font-family-1;
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      text-align: center;
      margin-bottom: 55px;

      @media #{$mq-tablet} {
        margin: 45px 0 0;
      }
    }
  }

  .column {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-between;

    &:not(:first-child) {
      margin: 15px 0 0;
    }

    @media #{$mq-tablet} {
      flex-basis: calc(50% - 13px);

      &:not(:first-child) {
        margin: 0;
      }
    }
  }

  .row {
    display: flex;
    flex-direction: column;
    width: 100%;

    &:not(:first-child) {
      margin: 15px 0 0;
    }
  }
}
