@import '../../settings';

.c-flag-filters {

  > .filter-list > .filter-item {
    align-items: center;
    display: flex;
    position: relative;

    &:not(:first-child) {
      margin: 10px 0 0;
    }

    .filter-option {
      padding: 0 0 0 10px;
      width: 20%;
    }

    .filter-option-list {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .filter-option-list > .filter-option-item {
      display: flex;
    }
  }

  > .filter-button {
    margin: 10px 0 0;
    width: 215px;;
  }
}
