@import '../../settings';

.c-flag-filters {
  max-height: 220px;

  > .filter-list > .filter-item {
    align-items: center;
    display: flex;
    position: relative;

    &:not(:first-child) {
      margin: 10px 0 0;
    }

    .filter-option {
      padding: 0 0 0 10px;
      width: 20%;
    }

    .filter-option-list {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .filter-option-list > .filter-option-item {
      display: flex;

      > .icon-blending,
      > .icon-delete-cross {
        cursor: pointer;
      }

      > .icon-delete-cross {
        cursor: pointer;
        height: 100%;
        max-height: 100%;
        width: 100%;
      }
    }
  }

  > .filter-button {
    margin: 10px 0 0;
    width: 215px;;
  }
}
