@import '../../settings';

.c-layer-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  > .layer-item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;

    &:not(:first-child) {
      margin: 5px 0 0;
    }

    &:first-child > .layer-info {
      margin: 0 0 5px;
    }

    &:not(:first-child) > .layer-info {
      margin: 5px 0;
    }

    &.-selected {
      > .layer-info > .layer-thumbnail {
        border: 2px solid $color-4;
      }
    }

    .layer-info {
      align-items: center;
      cursor: pointer;
      display: inline-flex;

      > .layer-thumbnail {
        border: 1px solid $color-19;
        height: 30px;
        margin: 0 10px 0 0;
        width: 30px;
      }

      > .layer-title {
        color: $color-4;
        font-family: $font-family-1;
        font-size: $font-size-xxs-small;
        font-weight: $font-weight-normal;
        line-height: 2;
        text-transform: uppercase;
      }
    }


    > .layer-option-list {
      display: flex;

      > .layer-option-item {
        cursor: pointer;

        &:not(:first-child) {
          margin: 0 0 0 10px;
        }
      }

      .-highlighted path {
        fill: $color-4;
      }
    }

    > .sublayer-list {
      flex-basis: 100%;
      max-height: 0;
      transition: max-height .25s ease;

      > .layer-item {
        &:first-child {
          margin: 15px 0 0;
        }
      }

      &.-open {
        max-height: 175px;
      }
    }
  }
}
