@import '../../settings';

.c-layer-panel {
  padding: 5px 0 0;

  .layer-list {

    > .layer-item {
      cursor: pointer;

      display: flex;
      justify-content: space-between;

      &:not(:first-child) {
        margin: 12px 0 0;
      }

      .switcher {
        -webkit-appearance: none;
        -webkit-transition: .15s;
        background: linear-gradient(to bottom, $hsla-begin, $hsla-end), linear-gradient(to right, $color-27 50%, currentColor 50%) 0 0, 5px 0;
        background-size: 100% 100%, 200% 100%;
        border-radius: 25px;
        cursor: pointer;
        height: 10px;
        margin: 0 8px 0 0;
        outline: 0;
        padding: 0 10px 0 0;
        position: relative;
        width: 20px;

        &::after {
          background: $color-26 -webkit-linear-gradient($hsla-end, $hsla-begin);
          border-radius: 25px;
          content: '';
          display: block;
          height: 10px;
          left: 0;
          position: relative;
          top: 0;
          width: 10px;
        }

        &:checked {
          background-position: 0 0, 15px 0;
          padding: 0 0 0 10px;
        }
      }

      .layer-name {
        color: $color-4;
        font-family: $font-family-1;
        font-size: $font-size-x-small;
        text-transform: uppercase;
      }

      > .layer-options-list {
        display: flex;

        > .layer-options-item {
          &:not(:first-child) {
            margin: 0 0 0 10px;
          }
        }
      }
    }
  }
}
