@import '../../settings';

.c-layer-panel {
  padding: 5px 0 0;

  .layer-list {

    > .layer-item {
      cursor: pointer;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &:not(:first-child) {
        margin: 12px 0 0;
      }

      .switcher {
        appearance: none;
        background: linear-gradient(to bottom, $hsla-begin, $hsla-end), linear-gradient(to right, $color-27 50%, currentColor 50%) 0 0, 5px 0;
        background-size: 100% 100%, 200% 100%;
        border-radius: 25px;
        cursor: pointer;
        height: 10px;
        margin: 0 8px 0 0;
        outline: 0;
        padding: 0 10px 0 0;
        position: relative;
        transition: .15s;
        width: 20px;

        &::after {
          background: $color-26 linear-gradient($hsla-end, $hsla-begin);
          border-radius: 25px;
          content: '';
          display: block;
          height: 10px;
          left: 0;
          position: relative;
          top: 0;
          width: 10px;
        }

        &:checked {
          background-position: 0 0, 15px 0;
          padding: 0 0 0 10px;
        }
      }

      .layer-name {
        color: $color-4;
        font-family: $font-family-1;
        font-size: $font-size-x-small;
        text-transform: uppercase;
      }

      > .layer-options-list {
        display: flex;

        > .layer-options-item {
          &:not(:first-child) {
            margin: 0 0 0 10px;
          }
        }
      }

      > .opacity-menu {
        display: flex;
        flex-basis: 100%;
        margin: 10px 0 5px;
        max-height: 0;
        overflow: hidden;
        transition: max-height .25s ease;

        &.-is-visible {
          max-height: 40px;
          overflow: visible;
        }

        :global .opacity-range {
          appearance: none;
          background: transparent;
          height: 40px;
          position: relative;
          top: 5px;
          width: 100%;

          :global .track-container {
            background-color: $color-14;
            height: 3px;
            margin: 10px 0 0;
            position: relative;

            .track-active {
              background-color: $color-4;
              height: 3px;
            }
          }

          :global .thumb-container {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
          }

          :global .thumb {
            background-color: $color-2;
            border: 2px solid $color-4;
            display: inline-block;
            height: 8px;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            width: 8px;
          }

          :global .label {
            position: absolute;

            &.-min,
            &.-max {
              bottom: 0;
            }

            &.-current {
              top: -25px;
            }

            &.-min {
              left: 0;
            }

            &.-max {
              right: 0;
            }

            > span {
              color: $color-4;
              font-family: $font-family-1;
              font-size: $font-size-tiny;
            }
          }
        }
      }
    }
  }
}
