@import '../../settings';

.c-blending {
  cursor: default;
  display: none;
  position: absolute;
  width: 200px;
  background-color: $color-19;
  bottom: 40px;
  padding: 20px;

  &.-is-visible {
    margin: 10px 0 5px;
    display: block;
    overflow: visible;
  }

  :global .blending-range {
    appearance: none;
    background: transparent;
    height: 40px;
    position: relative;
    top: 5px;
    width: 100%;

    :global .track-container {
      background-color: transparent;
      cursor: pointer;
      height: 15px;
      position: relative;

      .track-active {
        background-color: $color-4;
        height: 3px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }

      &::before {
        background: $color-13;
        content: '';
        display: inline-block;
        height: 3px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 100%;
      }
    }

    :global .thumb-container {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }

    :global .thumb {
      background-color: $color-2;
      border: 2px solid $color-4;
      display: inline-block;
      height: 8px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
    }

    :global .label {
      position: absolute;

      &.-min,
      &.-max {
        bottom: 10px;
      }

      &.-current {
        top: -25px;
        transform: translate(calc(-50% + 3px), 0);
      }

      &.-min {
        left: 0;
      }

      &.-max {
        right: 0;
      }

      > span {
        color: $color-4;
        font-family: $font-family-1;
        font-size: $font-size-tiny;
      }
    }
  }
}
