@import '../../settings';

.c-map-footer {
  align-items: center;
  background-color: $color-1;
  display: flex;
  height: $map-footer-height;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
  z-index: 101;

  @media #{$mq-mobile-large} {
    padding: 0 20px;
  }

  > .logo-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    width: 100%;

    @media #{$mq-tablet} {
      max-width: 320px;
    }
  }

  > .logo-list > .logo {
    height: auto;
    width: 100%;

    &.-oceana {
      max-width: 60px;

      @media #{$mq-mobile-large} {
        max-width: 80px;
      }
    }

    &.-skytruth {
      max-width: 70px;

      @media #{$mq-mobile-large} {
        max-width: 120px;
      }
    }

    &.-google {
      max-width: 50px;

      @media #{$mq-mobile-large} {
        max-width: 70px;
      }
    }
  }

  > .options {
    display: flex;

    .link {
      color: $color-20;
      font-family: $font-family-1;
      font-size: $font-size-xxs-small;

      &.-footer,
      &.-terms-of-use,
      &.-support {
        cursor: pointer;
      }

      // leave it just in case...
      &.-support,
      &.-terms-of-use {
        display: none;
      }
    }
  }

  > .options > .attribution-list {
    display: none;

    @media #{$mq-tablet} {
      display: flex;
    }
  }
}

.overflow-container {
  height: $map-footer-height;
  overflow: hidden;
}
