@import '../../settings';

.c-footer-mini {
  align-items: center;
  background-color: $color-1;
  display: flex;
  height: $footer-mini-height;
  justify-content: space-between;
  padding: 0 10px;

  @media #{$mq-mobile-large} {
    padding: 0 20px;
  }

  > .contain-partners {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 70%;

    @media screen and (min-width: 1135px) {
      justify-content: center;
      width: 100%;
    }

    .partner {
      height: auto;
      max-width: 70px;
      width: 100%;

      @media screen and (min-width: 1135px) {
        margin-right: 15px;
      }

      &.oceana {
        max-width: 60px;
      }

      &.-skytruth-logo {
        max-width: 85px;
      }

      &.-google {
        max-width: 50px;
      }
    }
  }

  > .links {
    align-items: center;
    display: flex;

    > .attributions {
      color: $color-20;
      // display: inline-block;
      display: none;

      // margin-left: 15px;

      &.-footer {
        display: inline-flex;
      }

      @media screen and (min-width: 1135px) {
        display: inline-block;
      }

      > a {
        color: $color-20;
        display: inline-block;
        font-size: $font-size-xxs-small;
        width: 100%;
      }
    }

    .bar-hor {
      border: solid 1px $color-20;
      border-top: 0;
      display: inline-block;
      height: 5px;
      margin-left: 4px;
      width: 40px;
    }
  }
}
