@import '../../settings';

.c-map-footer {
  align-items: center;
  background-color: $color-1;
  display: flex;
  height: $map-footer-height;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
  z-index: 103;

  @media #{$mq-mobile-large} {
    padding: 0 20px;
  }

  > .logo-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    width: 100%;

    @media #{$mq-tablet} {
      max-width: 270px;
    }

    @media #{$mq-laptop} {
      max-width: 320px;
    }
  }

  > .logo-list > .logo {
    height: auto;
    width: 100%;

    @media #{$mq-mobile-large} {
      transform: scale(.8);
    }

    @media #{$mq-laptop} {
      transform: scale(1);
    }

    &.-oceana {
      max-width: 60px;

      @media #{$mq-mobile-large} {
        max-width: 80px;
      }
    }

    &.-skytruth {
      max-width: 90px;

      @media #{$mq-mobile-large} {
        height: auto;
        max-width: 120px;
      }
    }

    &.-google {
      max-width: 50px;

      @media #{$mq-mobile-large} {
        max-width: 70px;
      }
    }
  }

  > .options {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    @media #{$mq-tablet} {
      justify-content: space-between;
      max-width: 425px;
      width: 100%;
    }

    .link {
      color: $color-4;
      font-family: $font-family-1;
      font-size: $font-size-xxs-small;

      &.-footer,
      &.-terms-of-use,
      &.-support {
        cursor: pointer;
      }

      &.-attributions {
        color: rgba($color-4, .5);
        display: none;

        @media #{$mq-tablet} {
          display: inline-block;
          text-align: right;
        }

        @media #{$mq-laptop} {
          max-width: 375px;
        }

        > a {
          color: rgba($color-4, .5);

          &:hover {
            color: $color-4;
          }
        }
      }

      // leave it by now...
      &.-terms-of-use,
      &.-support {
        display: none;
      }
    }
  }
}

.overflow-container {
  height: $map-footer-height;
  overflow: hidden;
}
