@import '../../settings';

.c-no-login {
  text-align: center;

  > .back {
    color: $color-4;
    font-size: $font-size-x-small;
    margin: 25px 0 0;
  }

  > .title {
    font-size: $font-size-x-medium;
    font-weight: $font-weight-normal;
    margin-bottom: 10px;
  }

  a {
    color: $color-4;
    cursor: pointer;
    display: inline-block;
    line-height: 1.2;

    &::after {
      background-color: $color-6;
      content: '';
      display: block;
      height: 1px;
      margin: 1px 0 0;
    }
  }
}
