@import '../../settings';

.c-no-login {
  text-align: center;

  > .back {
    font-size: $font-size-x-small;
    left: 12px;
    position: absolute;
    top: 12px;

    a {
      color: $color-4;
      cursor: pointer;
      display: inline-block;
      font-family: $font-family-1;
      text-decoration: none;

      &::after {
        background-color: $color-6;
        content: '';
        display: block;
        height: 1px;
        margin-top: 1px;
      }
    }
  }

  > .title {
    font-size: $font-size-x-medium;
    font-weight: $font-weight-normal;
    margin-bottom: 10px;
  }

  > .content {
    color: $color-4;
    margin: 10px 0;
  }

  a {
    color: $color-4;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    &::after {
      background-color: $color-6;
      content: '';
      display: block;
      height: 1px;
      margin-top: 1px;
    }
  }

}
