@import '../../settings';

.c-pinned-tracks {

  > .no-pinned-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 100px;

    > .no-pin-literal {
      color: $color-4;
      font-size: $font-size-xxs-small;
    }
  }

  > .pinned-item-list {
    min-height: 105px;
  }

  > .pinned-item-list > .pinned-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;

    &:not(:first-child) {
      margin: 10px 0 0;
    }

    > .item-name {
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid rgba($color-3, .3);
      color: $color-4;
      flex: 1;
      font-size: $font-size-xxs-small;
      height: 24px;
      margin: 0 15px 0 0;
      outline: none;
      padding: 0 0 3px;
    }

    > .rename-icon {
      position: absolute;
      right: 28px;
      stroke: rgba($color-3, .3);
    }

    > .edition-menu {

      > .delete-icon {
        cursor: pointer;
        fill: $color-19;
        height: 16px;
        width: 10px;
      }
    }

    > .pinned-item-action-list {
      align-items: center;
      display: flex;
      position: relative;

      > .pinned-item-action-item {
        display: flex;

        &:not(:first-child) {
          margin: 0 0 0 10px;
        }
      }
    }
  }

  > .pinned-button-container {
    display: flex;
    justify-content: space-between;

    > .pinned-button {
      width: calc(50% - 1px);
    }
  }
}
