@import '../../settings';

.c-polygon-report {
  background: $color-13;
  bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  left: -130px;
  opacity: .95;
  padding: 24px;
  position: absolute;
  width: 260px;

  .title,
  .description,
  .toggle {
    color: $color-4;
    font-family: $font-family-1;
    font-size: 15px;
  }

  .title,
  .toggle {
    font-weight: bold;
    text-transform: uppercase;
  }

  .close {
    & * {
      pointer-events: none;
    }
    right: -26px;
    top: 0;
  }

  .toggle {
    cursor: pointer;
    margin-top: 20px;

    &::before {
      background: $color-4;
      color: $color-13;
      content: '+';
      display: inline-block;
      margin-right: 8px;
      width: 20px;
    }

    &.-remove {
      &::before {
        content: '-';
      }
    }
  }

  .close,
  .toggle {
    &:focus {
      outline: none;
    }
  }
}

// TODO this is a hack. Ask Skytruth to disable Carto InfoWindows on their viz.json
:global .cartodb-infowindow {
  display: none !important;
}
