@import '../../settings';
@import '../../mixins';

.c-search-panel {
  z-index: 11;

  @media #{$mq-tablet} {
    position: relative;
  }

  > .search-accordion {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba($color-3, .3);
    border-radius: 0;
    color: $color-4;
    display: block;

    font-size: $font-size-x-small;
    font-weight: $font-weight-normal;
    line-height: 1.8;

    outline: 0;
    padding-right: 30px;
    width: 100%;

    &::-webkit-input-placeholder {
      color: rgba($color-3, .3);
    }

    &::-moz-placeholder {
      color: rgba($color-3, .3);
    }

    &:-ms-input-placeholder {
      color: rgba($color-3, .3);
    }
  }

  :global .icon-search,
  :global .icon-close {
    position: absolute;
    right: 0;
  }

  :global .icon-search {
    top: 8px;
  }

  .clean-query-button {
    position: absolute;
    right: 29px;
    stroke: rgba($color-3, .3);
    top: 25px;

    @media #{$mq-tablet} {
      right: 10px;
      top: 10px;
    }
  }

  :global .icon-filter {
    cursor: pointer;
  }

  .results-container {
    background-color: $color-1;
    max-height: 0;
    overflow: hidden;

    &.-open {
      border: 1px solid rgba($color-3, .3);
      left: 0;
      max-height: none;
      overflow: visible;
      padding: 15px 15px 0;
      position: absolute;
      top: 47px;
      width: 100%;
      z-index: 1;

      &::after {
        @include arrow(15px, 1px, rgba($color-3, .3), 'up');
        background-color: $color-1;
        left: 30px;
        position: absolute;
        top: -8px;
      }

      @media #{$mq-tablet} {
        max-width: 310px;
        top: 34px;
      }
    }
  }

  .results-container > .search-list {
    padding: 0 0 15px;

    > .result {
      width: 100%;

      &:not(:first-child) {
        margin: 5px 0 0;
      }
    }
  }

  .results-container > .pagination-container {
    display: flex;
    justify-content: center;
    padding: 5px 0 25px;

    > .more-results-button {
      width: 130px;
    }
  }
}
