@import '../../settings';

.c-timebar {
  display: flex;
  height: 100%;
  .c-timebar-element {
    height: 100%;
  }
  .c-timebar-datepicker {
    text-align: center;
    width: 100px;
  }
  .c-timebar-playback {
    text-align: center;
    width: 100px;
  }
}
