@import '../../settings';

.c-timeline {
  flex: 1;
  margin-top: -24px;
  position: relative;

  .c-timeline-area {
    fill: $color-8;
  }

  .c-timeline-x-axis {
    line,
    path {
      stroke: $color-4;
    }

    text {
      fill: $color-4;
      font-size: $font-size-x-small;
    }
  }

  .c-timeline-outer-brush-selection {
    fill-opacity: 0;
    stroke-width: 0;
  }

  .c-timeline-outer-brush-handle {
    fill: $color-3;
    pointer-events: none;
    width: 4px;
  }

  .c-timeline-inner-brush-selection {
    fill: $color-4;
    fill-opacity: .2;
    stroke-width: 0;
    y: -20px;
    height: 999px;
  }

  .c-timeline-outer-brush-circle {
    cursor: ew-resize;
    fill: $color-4;
    pointer-events: none;
  }

  .c-timeline-inner-brush-footer {
    background-color: $color-1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: $color-4;
    height: 24px;
    font-size: $font-size-x-small;
    left: 0;
    min-width: 100px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 99;
  }
}
