@import '../../settings';

.c-timebar {
  background-color: $color-1;
  display: flex;
  height: 100%;
  position: relative;
  z-index: 5;

  @media #{$mq-mobile-large} {
    padding: 0 0 0 10px;
  }

  .c-timebar-element {
    height: 100%;
  }

  .c-timebar-datepicker {
    width: 20%;

    @media #{$mq-mobile-large} {
      width: 100px;
    }
  }

  .c-timebar-playback {
    text-align: center;
    width: 10%;

    @media #{$mq-mobile-large} {
      width: 50px;
    }

    button {
      background: none;
      border: 0;
      color: $color-3;
      cursor: pointer;
      font-size: $font-size-x-small;
      height: 100%;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }
}
