@import '../../settings';

.c-welcome-modal {
  display: flex;
  font-family: $font-family-1;
  flex-direction: column;
  position: relative;

  @media #{$mq-tablet} {
    max-height: 50vh;
  }

  > .content {
    overflow: auto;

    @media #{$mq-tablet} {
      max-height: 40vh;
    }

    h1, h2 {
      font-size: $font-size-x-normal;
      font-weight: $font-weight-bold;
      margin: 0 0 10px;
      text-align: center;
    }

    p, ul {
      font-size: $font-size-x-small;
      margin: 25px 0;

      &:first-child {
        margin: 0;
      }
    }

    li {
      margin: 10px 0 0 1em;
    }

    ul {
      list-style: square;
    }

    a {
      display: inline-block;
      color: $color-4;
      font-family: $font-family-1;
      font-weight: $font-weight-bold;
      font-size: $font-size-normal;
      margin-bottom: 5px;
      border-bottom: solid 1px $color-29;
    }
  }
}
