@import '../../settings';

:global .datepicker {
  height: 100%;
  position: relative;

  &::after {
    background-color: rgba($color-3, .4);
    content: '';
    display: inline-block;
    height: 60%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 1px;
  }

  .datepickerTitle {
    color: rgba($color-3, .5);
    font-size: $font-size-xs-small;
    font-weight: $font-weight-bold;
    padding-bottom: 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 16px;
    width: 100%;

    @media #{$mq-mobile-large} {
      font-size: $font-size-small;
    }

    @media #{$mq-laptop} {
      &::after {
        content: ' date';
      }
    }
  }

  .react-datepicker__input-container {
    height: 100%;
  }

  input {
    background: transparent;
    border: 0;
    color: $color-3;
    cursor: pointer;
    font-size: $font-size-xs-small;
    font-weight: $font-weight-bold;
    height: 100%;
    padding-top: 11px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    word-wrap: break-word;
  }
}
