@import '../../settings';

.flagFilters {
  padding-left: $menu-mobile-left-padding;
  padding-right: 16px;
  .item-list{
    &.listItem{
      padding-right: 0;
      padding-left: 0;
    }  
  }
  @media #{$mq-tablet} {
    padding-right: 22px;
    padding-left: 0;
    max-height: none;
    overflow-y: visible;
  }
}

.filterItem {
  align-items: center;
  display: flex;
  position: relative;
  padding-right: 20px;

  &:not(:first-child) {
    margin: 10px 0 0;
  }
}

.filterOption {
  flex: 1;

  @media #{mq-tablet} {
    width: 20%;
  }
}

.filterOptionList {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 0 0 10px;
}

.filterOptionItem {
  display: inline-flex;
  position: relative;

  &:not(:first-child) {
    margin: 0 0 0 15px;
  }
}

.filterButton {
  height: 40px;
  margin: 10px 0;
  max-width: 80%;
  width: 100%;
  
  @media #{$mq-tablet} {
    height: 30px;
    max-width: none;
    width: 215px;
  }
}
