@import '../../settings';

.layerManagement {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0;
  padding-left: 30px;
  padding-right: 23px;
}

.layerButton {
  width: calc(50% - 1px);
}
