@import '../../settings';

.title {
  color: $color-4;
  font-size: $font-size-x-normal;
  font-weight: $font-weight-bold;
  text-align: center;
}

.optionsContainer {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;

  @media #{$mq-tablet} {
    flex-direction: row;
    margin-top: 40px;
    flex-basis: calc(50% - 13px);
  }
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media #{$mq-tablet} {
    margin-right: 45px;
  }
}

.sectionTitle {
  margin-bottom: 20px;
}

.itemTitle {
  color: $color-4;
  font-size: $font-size-small;
  margin-left: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
}

.nameInput {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $color-fade-blue;
  padding-bottom: 5px;
  border-radius: 0;
  color: $color-white;

  font-size: $font-size-x-small;
  font-weight: $font-weight-normal;
  line-height: 1.8;

  outline: 0;
  padding-right: 30px;
  width: 100%;

  @media #{$mq-tablet} {
    margin-bottom: 20px;
  }

  &::-webkit-input-placeholder {
    color: $color-fade-blue;
  }

  &::-moz-placeholder {
    color: $color-fade-blue;
  }

  &:-ms-input-placeholder {
    color: $color-fade-blue;
  }
}


.wrapper:not(:last-child) {
  padding-bottom: 40px;
}

.footerContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;

  > .mainButton {
    width: 180px;
  }
}

.warning {
  margin-top: 10px;
  padding: 5px 10px 12px;
}
