@import '../../settings';

.pinnedTracks {
  margin: 10px 0 0;
}

.pinnedTracksHeading {
  color: $color-4;
  display: flex;
  font-family: $font-family-1;
  font-size: $font-size-xxs-small;
  font-weight: $font-weight-bold;
  justify-content: flex-end;
  margin-bottom: 10px;
  text-transform: uppercase;

  @media #{$mq-tablet} {
    font-size: $font-size-xs-small;
  }
}

.noPinnedItems {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: space-between;

  > .noPinLiteral {
    color: $color-4;
    font-size: $font-size-xxs-small;
  }
}

.pinnedItem {
  display: flex;
  flex-direction: column;
}

.itemHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;

  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: $menu-mobile-left-padding;
  padding-right: $menu-mobile-right-padding;

  @media #{$mq-tablet} {
    padding-left: $menu-left-padding;
    padding-right: 36px;
  }
}

.itemName {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: $color-4;
  cursor: pointer;
  flex: 1;
  font-family: $font-family-1;
  font-size: $font-size-normal;
  height: 24px;
  margin-left: 5px;
  max-width: 90%;
  outline: none;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media #{$mq-tablet} {
    font-size: $font-size-xxs-small;
  }
}

.itemRename {
  border-bottom-color: rgba($color-3, .3);
}

.renameIcon {
  position: absolute;
  right: 28px;
  stroke: rgba($color-3, .3);
  top: 50%;
  transform: translate(0, -50%);
}

.deleteIcon {
  cursor: pointer;
  fill: $color-31;
  height: 16px;
  width: 10px;
}

.pinnedItemActionList {
  align-items: center;
  display: flex;
  position: relative;
}

.pinnedItemActionItem {
  display: flex;
  position: relative;
  margin-left: 8px;
}

.pinnedButtonContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 20px;
  .recentVesselsButton {
    width: 89%;

    @media #{$mq-tablet} {
      margin-left: 11px;
      margin-right: 40px;
    }
  }
}
