@import '../../settings';

.emptyHistory {
  margin: 30px 0 25px;
  text-align: center;
}

.historyContainer {
  margin: 45px 0 0;
  overflow: auto;
  padding: 0 0 5px;
  position: relative;

  &::after {
    background-image: linear-gradient(to bottom, rgba(4, 20, 56, 0), $color-2);
    bottom: 25px;
    content: '';
    display: inline-block;
    height: 25px;
    left: 0;
    pointer-events: none;
    position: relative;
    width: 100%;
  }
}

.historyList {
  max-height: 225px;
  overflow-y: auto;
  padding: 0 0 8px;
}

.historyItem {
  align-items: center;
  display: flex;
  flex: 1;
  flex-basis: 100%;
  margin: 0 0 15px;
  max-width: 100%;
  padding: 0 0 0 20px;
  position: relative;

  @media screen and (min-width: 650px) {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px 0 20px;
  }

  @media #{$mq-tablet} {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  &:hover {
    background-color: transparent;
  }
}

.pinned {
  fill: rgba($color-3, .5);
  left: 0;
  margin: 0 8px 0 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.historyItemName {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer {
  display: flex;
  justify-content: center;
}

.btnDone {
  height: 40px;
  width: 180px;
}
