@import '../../settings';

.timebar {
  background-color: $color-1;
  display: flex;
  height: 100%;
  position: relative;
  z-index: 20;

  @media #{$mq-mobile-large} {
    padding-left: 5px;
  }
}

.timebarElement {
  height: 100%;
}

.timebarDatepicker {
  width: 15%;
  margin-left: 3px;
  border-left: 1px solid $color-fade-blue;

  @media #{$mq-mobile-large} {
    width: 20%;
    margin-left: 0;
    width: 98px;
    border-left: none;
  }
}

.timebarPlayback {
  text-align: center;
  width: 13%;
  margin-top: 12px;
  margin-left: 1px;
  margin-right: 1px;

  @media #{$mq-mobile-large} {
    margin-left: 0;
    width: 10%;
    width: 50px;
  }

  button {
    background: none;
    color: $color-3;
    cursor: pointer;
    border: 1px solid $color-3;
    border-radius: 50%;
    font-size: $font-size-x-small;

    margin-top: 2px;
    height: 40px;
    width: 40px;

    @media #{$mq-mobile-large} {
      height: 40px;
      width: 40px;
    }

    &:focus {
      outline: none;
    }
  }
}
