@import '../../settings';
@import '../../mixins';

.accordion {

  .accordionHeader {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-right: 26px;
    padding-left: $menu-mobile-left-padding;

    @media #{$mq-tablet} {
      padding-right: 45px;
      padding-left: $menu-left-padding;
    }

    &:not(:first-child) {
      padding-top: 20px;
      border-top: 1px solid $color-fade-blue;
    }

    .title {
      color: $color-4;
      padding-bottom: 18px;
      font-size: $font-size-small;
    }

    .expandArrowButton {
      margin-top: 2px;
      outline: none;
      cursor: pointer;
      pointer-events: none;
      @include arrow(8px, 2px, $color-4, 'down');

      &.expanded {
        margin-top: 4px;
        @include arrow(8px, 2px, $color-4, 'up');
      }
    }
  }
}
