@import '../../settings';

.c-content-accordion {
  padding: 50px 0 65px;

  > .accordion-item {
    padding: 30px 0;
    position: relative;

    &::after {
      background-color: $color-10;
      bottom: 0;
      content: '';
      height: 2px;
      left: 50%;
      position: absolute;
      top: auto;
      transform: translate(-50%, 0);
      width: 100vw;
    }
  }

  > .accordion-item .item-title {
    color: $color-19;
    font-size: 19px;
    font-weight: $font-weight-bold;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
  }

  > .accordion-item .item-answer {
    margin-top: 20px;

    ul {
      margin-top: 15px;
      padding-left: 30px;
    }
  }
}
