@import '../../settings';

.c-container-footer {

  .footer-expanded {
    -webkit-overflow-scrolling: touch;
    bottom: 68px;
    max-height: calc(100% - 68px - 95px);
    overflow: auto;
    position: absolute;
    width: 100%;

    @media screen and (min-width: 900px) {
      bottom: 38px;
    }
  }

  .contain-responsive-buttons {
    align-items: center;
    background-color: $color-13;
    display: flex;
    height: 30px;
    justify-content: space-between;
    padding: 0 20px;

    @media screen and (min-width: 900px) {
      display: none;
    }

    span {
      color: $color-4;
      cursor: pointer;
      font-family: $font-family-1;
      font-size: $font-size-xs-small;
      font-weight: $font-weight-bold;
    }
  }

  .contain-responsive-attributions {
    background-color: rgba($color-9, .5);
    padding: 0 4px;

    @media screen and (min-width: 900px) {
      display: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      @media screen and (min-width: 350px) {
        align-items: center;
        display: flex;
        height: 20px;
        justify-content: space-between;
      }

      li {
        color: $color-4;
        display: inline;
        font-size: $font-size-tiny;

        &:first-of-type {

          &::after {
            content: ' ';
            display: inline;

            @media screen and (min-width: 350px) {
              display: none;
            }
          }
        }

        a {
          color: $color-4;
          font-size: $font-size-tiny;
        }
      }
    }
  }
}
