@import '../../settings';

.c-content-accordion {

  &:last-child {
    padding-bottom: 0;
  }

  > .accordion-item {
    border-bottom: 2px solid $color-10;
    padding: 25px 0 30px;

    &:first-child {
      padding-top: 5px;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }

    @media #{$mq-tablet} {
      padding: 30px 0;
    }
  }

  > .accordion-item .item-title {
    color: $color-19;
    cursor: pointer;
    font-size: 19px;
    font-weight: $font-weight-bold;
    padding-right: 50px;
    position: relative;
    width: 100%;
  }

  > .accordion-item .item-rhombus {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    img {
      transform: rotate(180deg);
      transition: transform .5s;
    }

    &.rhombus-opened {
      img {
        transform: rotate(90deg);
      }
    }
  }

  > .accordion-item .item-content {
    overflow: hidden;
    transition: margin-top 500ms, max-height 500ms;

    @media #{$mq-tablet} {
      transition: margin-top 300ms, max-height 300ms;
    }

    ul {
      margin-top: 15px;
      padding-left: 30px;
    }
  }

  > .accordion-item .-opened {
    margin-top: 20px;
    transition: margin-top 750ms, max-height 750ms;

    @media #{$mq-tablet} {
      transition: margin-top 300ms, max-height 300ms;

    }
  }
}
