@import '../../settings';

.c-content-accordion {

  &:last-child {
    padding-bottom: 0;
  }

  > .accordion-item {
    padding: 25px 0 30px;
    position: relative;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;

      &::after {
        content: none;
      }
    }

    &::after {
      background-color: $color-10;
      bottom: 0;
      content: '';
      height: 2px;
      position: absolute;
      top: auto;
      width: 100%;
    }

    @media #{$mq-tablet} {
      padding: 30px 0;
    }
  }

  > .accordion-item .item-title {
    color: $color-19;
    cursor: pointer;
    font-size: 19px;
    font-weight: $font-weight-bold;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
  }

  > .accordion-item .item-rhombus {
    float: right;
  }

  > .accordion-item .item-content {
    margin-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0s;

    ul {
      margin-top: 15px;
      padding-left: 30px;
    }
  }

  > .accordion-item .-opened {
    max-height: 3000px;
    transition: max-height 1.5s;

  }
}
