@import '../../settings';

.c-footer-mini {
  align-items: center;
  background-color: $color-1;
  display: flex;
  height: 38px;
  justify-content: space-between;
  padding: 0 20px;

  .contain-partners {
    align-items: center;
    display: flex;
    justify-content: center;

    .partner {
      height: auto;
      margin-right: 15px;
      max-width: 70px;
      width: 100%;
    }

    .oceana {
      margin-right: 15px;
      max-width: 90px;
    }
  }

  > .links {
    align-items: center;
    display: flex;
    list-style: none;

    li {
      color: $color-20;
      display: inline-block;
      font-size: $font-size-tiny;
      margin-left: 15px;
    }

    a {
      color: $color-20;
      cursor: pointer;
      text-decoration: none;
    }

    .bar-hor {
      border: solid 1px $color-20;
      border-top: 0;
      display: inline-block;
      height: 5px;
      margin-left: 4px;
      width: 40px;
    }
  }
}
