@import '../../settings';

.c-header {
  background-color: transparent;
  box-shadow: 0 2px 4px 0 rgba($color-12, .5);
  position: relative;
  z-index: 2;

  .contain-nav {
    align-items: center;
    display: flex;
    height: 95px;
    justify-content: space-between;
  }

  @media #{$mq-tablet} {
    box-shadow: none;
  }

  .icon-menu-mobile {
    cursor: pointer;
    display: block;
    margin-right: 20px;
    width: 21px;

    @media #{$mq-tablet} {
      display: none;
    }
  }

  .img-mobile {
    display: block;
    height: 50px;

    @media #{$mq-tablet} {
      display: none;
    }
  }

  .img-home {
    display: none;
    height: 70px;

    @media #{$mq-tablet} {
      display: block;
    }
  }

  .img-sub-page {
    display: none;
    height: 50px;

    @media #{$mq-tablet} {
      display: block;
    }
  }

  .share-header {
    color: $color-4;
    display: block;

    @media #{$mq-tablet} {
      display: none;
    }
  }

  .menu {
    display: none;

    @media #{$mq-tablet} {
      display: inline-block;
      list-style: none;
      position: relative;
      vertical-align: middle;
    }

    > li {
      display: inline-block;
      padding: 10px 12px;
      position: relative;

      @media #{$mq-laptop} {
        padding: 10px 30px;
      }

      &:last-of-type {
        padding-right: 0;

        &::before {
          background-color: $color-4;
          content: '';
          height: 25px;
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
        }
      }

      > a {
        color: $color-4;
        cursor: pointer;
        display: inline-block;
        height: 100%;
        letter-spacing: -.1px;
        text-decoration: none;
        text-transform: capitalize;

        &.-active {
          position: relative;

          &::after {
            background-color: $color-4;
            border-radius: 2px;
            bottom: -7px;
            content: '';
            display: block;
            height: 4px;
            left: -12px;
            position: absolute;
            width: calc(100% + 24px);
          }
        }
      }

      > .dropdown-content {
        background-color: $color-4;
        display: none;
        left: 50%;
        list-style: none;
        padding: 12px;
        position: absolute;
        top: 100%;
        transform: translateX(-50%);
        width: 200px;
        z-index: 20;

        a {
          color: $color-11;
          cursor: pointer;
          display: block;
          font-size: $font-size-small;
          padding: 12px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          transition: background-color .3s;

          &:hover {
            background-color: rgba($color-3, .6);
          }
        }
      }

      &.dropdown {
        position: relative;

        &:hover > .dropdown-content {
          display: block;
        }
      }
    }
  }

  &.-map {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 6;

    .contain-nav {

      > .logo-menu {
        align-items: center;
        display: flex;
      }
    }

    .icon-menu-mobile {
      display: block;
      margin-left: 30px;
      order: 2;
    }

    .share-header {
      order: 3;
    }

    .menu {
      display: none;
    }
  }
}
