@import '../../settings';

:global .c-item-list {
  margin: 20px 0;

  @media #{$mq-tablet} {
    margin: 40px 0 50px;
  }

  li {
    padding-left: 15px;
    position: relative;

    @media #{$mq-tablet} {
      padding-left: 30px;
    }

    & + li {
      margin-top: 15px;
    }

    &::after {
      background: $color-19;
      content: '';
      display: block;
      height: 7px;
      position: absolute;
      top: 8px;
      vertical-align: middle;
      width: 7px;
    }

    p {
      padding-left: 20px;

      @media #{$mq-tablet} {
        padding-left: 60px;
      }
    }
  }
}
