@import '../../settings';

.c-link-to {
  align-items: center;
  cursor: pointer;
  display: inline-flex;

  > .rhombus {
    border: 2px solid $color-14;
    display: inline-block;
    height: 17px;
    position: relative;
    transform: rotate(45deg);
    width: 17px;

    &::after {
      border: 2px solid $color-14;
      border-right-color: transparent;
      border-top-color: transparent;
      content: '';
      display: inline-block;
      height: 6px;
      left: 50%;
      position: absolute;
      top: 50%;

      width: 6px;
    }
  }

  > .text {
    color: $color-14;
    font-size: 15px;
    font-weight: $font-weight-bold;
    letter-spacing: -.1px;
    line-height: .4;
    margin-left: 15px;
    text-transform: uppercase;
  }

  &.-white {
    > .rhombus {
      border-color: $color-4;
    }

    > .rhombus::after {
      border-color: $color-4;
    }

    > .text  {
      color: $color-4;
    }
  }

  &.-left > .rhombus::after {
    transform: translate(calc(-50% + 2px), calc(-50% - 1px));
  }

  &.-right > .rhombus::after {
    transform: translate(calc(-50% - 2px), calc(-50% - 1px)) rotate(180deg);
  }

  &.-down > .rhombus::after {
    transform: translate(calc(-50%), calc(-50% - 2px)) rotate(-90deg);
  }
}
