@import '../../settings';

.c-modal {
  align-items: center;
  background-color: rgba($color-2, .9);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  > .content {
    align-items: center;
    display: flex;
    height: calc(100% - 45px);
    min-width: 320px;
    position: relative;
    width: calc(100% - 45px);


    @media #{$mq-mobile-large} {
      max-width: 860px;
      min-width: 370px;
      width: calc(100% - 60px);
    }

    @media #{$mq-tablet} {
      min-width: 620px;
      max-height: 65%;

    }

    @media #{$mq-laptop} {
      width: 860px;
      height: 60%;
    }

    .contain-content {
      -webkit-overflow-scrolling: touch;
      background-color: $color-2;
      border: 1px solid rgba($color-3, .3);
      color: $color-4;
      width: 100%;
      height: 100%;

      .contain-button {
        position: absolute;
        right: 0;
      }

      .contain-padding {
        padding: 40px 20px 20px;
        height: 100%;
        overflow-y: auto;

        @media #{$mq-tablet} {
          padding: 60px;
        }

        .modal-title {
          color: $color-4;
          font-size: $font-size-x-normal;
          font-weight: $font-weight-bold;
          text-align: center;
        }

        p {
          color: $color-4;
        }

        .footer {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  &.-small {
    > .content {
      max-width: 500px;
    }
  }

  .close-button {
    background-color: $color-4;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    height: 26px;
    left: 0;
    position: absolute;
    top: 20px;
    transform: translate(-50%, 0);
    width: 26px;
    z-index: 1;

    @media #{$mq-tablet} {
      height: 40px;
      width: 40px;
    }

    > .icon {
      display: block;
      height: 12px;
      left: 50%;
      position: absolute;
      stroke: $color-7;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 12px;

      @media #{$mq-tablet} {
        height: 16px;
        width: 16px;
      }
    }
  }
}

.-no-bg-overlay {
  overflow: hidden;
}
