@import '../../settings';

.c-modal {
  align-items: center;
  background-color: rgba($color-1, .7);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  > .content {
    align-items: center;
    display: flex;
    height: 100%;
    max-height: calc(100% - 45px);
    position: relative;
    width: calc(100% - 45px);


    @media #{$mq-mobile-large} {
      max-width: 860px;
      min-width: 370px;
      width: calc(100% - 60px);
    }

    @media #{$mq-tablet} {
      min-width: 620px;
    }

    @media #{$mq-laptop} {
      width: 860px;
    }

    .contain-content {
      -webkit-overflow-scrolling: touch;
      background-color: $color-2;
      border: 1px solid rgba($color-3, .3);
      color: $color-4;
      width: 100%;

      .contain-button {
        position: absolute;
        right: 0;
      }

      .contain-padding {
        padding: 20px;

        @media #{$mq-tablet} {
          padding: 40px;
        }

        .modal-title {
          color: $color-4;
          font-size: $font-size-x-normal;
          font-weight: $font-weight-bold;
          text-align: center;
        }

        p {
          color: $color-4;
        }

        .footer {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .close-button {
    background-color: $color-4;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    height: 40px;
    left: 0;
    position: absolute;
    top: 20px;
    transform: translate(-50%, 0);
    width: 40px;
    z-index: 1;


    > .icon {
      display: block;
      height: 16px;
      left: 50%;
      position: absolute;
      stroke: $color-7;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
    }
  }
}
