@import '../../settings';
@import '../../mixins';

.c-selector {
  background-color: transparent;
  border: solid 1px $color-14;
  display: flex;
  flex-grow: 2;
  height: 40px;
  max-width: 80%;
  padding: 0 15px;
  position: relative;

  @media #{$mq-tablet} {
    height: 30px;
  }

  > select {
    appearance: none;
    background-color: transparent;
    border: 0;
    color: $color-4;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    outline: none;
    width: 100%;
  }

  &::after {
    @include arrow(8px, 2px, $color-4, 'down');
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: calc(50% - 3px);
    transform: rotate(45deg) translate(0, -50%);
  }
}
