@import '../../settings';

input {
  appearance: none;
  border: 0;
}

.c-switcher {
  appearance: none;
  border-radius: 25px;
  cursor: pointer;
  height: 8px;
  margin: 0 8px 0 0;
  outline: 0;
  padding: 0 10px 0 0;
  position: relative;
  width: 20px;

  &::before {
    background-color: $color-27;
    border-radius: 25px;
    content: '';
    display: inline-block;
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: opacity .2s ease;
    width: 100%;
  }

  &::after {
    background: $color-4;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 10px;
    left: 0;
    position: absolute;
    right: auto;
    top: 50%;
    transform: translate(0, -50%);
    transition: transform .2s ease;
    width: 10px;
  }

  &:checked {
    &::before {
      opacity: 0;
    }

    &::after {
      transform: translate(100%, -50%);
    }
  }
}
