@import '../../settings';
@import '../../mixins';

.colorPicker {
  .colorInput {
    display: inline-block;
    
    input[type="radio"] {
      display: none;
      &:checked + label {
        box-shadow: 0px 0px 0px 2px $color-white;
      }
    }

    label {
      @include colorClasses();
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 10px;
      padding: 1px;
      border-radius: 50%;
    }
  }

  .title {
    margin-bottom: 5px;
    font-size: $font-size-x-small;
    font-weight: $font-weight-light-bold;
  }
}
