@import '../../settings';
@import '../../mixins';

.expandItemButton {

  button {
    outline: none;
    padding: 5px 6px;
    margin-left: 0px;

    svg {
      fill: $color-31 !important;
    }
  }

  &.active {
    margin-top: -2px;
    padding-top: 2px;

    button {
      border: 1px solid $color-31;
      border-radius: 50%;
      margin-left: -1px;
      margin-right: -1px;

      svg {
        fill: $color-4 !important;
      }
    }

    &::after {
      top: 34px;
      left: 10px;
      display: inline-block;
      position: absolute;
      content: "";
      @include triangle($color-mid-blue, 'up');
    }
  }
}
