@import '../../settings';

._mobileScroll {

  > .expandItem {
    overflow-y: auto;
    max-height: 218px;

    @media #{$mq-tablet} {
      max-height: 500px;
    }
  }
}

.expandItem {

  .notAccordion {
    flex-direction: row;
    background-color: $color-mid-blue;
    margin-bottom: 10px;
    margin-left: -35px;
    margin-right: -35px;
    color: $color-white;
    padding: 20px 35px;
    align-items: flex-start;
  }
}
