@import '../../settings';
@import '../../mixins';

.expandItem {
  .notAccordion {
    flex-direction: row;
    background-color: $color-mid-blue;
    margin-bottom: 10px;
    margin-left: -35px;
    margin-right: -35px;
    color: $color-white;
    padding: 20px 35px;
    align-items: flex-start;

    &.firstIcon {
      &::after {
        right: 82px;
        margin-top: -68px;
      }
    }

    &.secondIcon{
      &::after {
        right: 50px;
        margin-top: -25px;
      }
    }

    &::after {
      display: inline-block;
      position: absolute;
      content: "";
      @include triangle($color-mid-blue, 'up');
    }
  }
}
