@import '../../settings';

.warning {
  background-color: $color-19;
  border-bottom: 1px solid $color-1;
  color: $color-4;
  display: flex;
  flex-direction: column;
  font-family: $font-family-1;
  font-size: $font-size-xs-small;
  font-weight: bold;
  justify-content: center;

  @media #{$mq-tablet} {
    font-size: $font-size-small;
  }

  a {
    color: $color-4;
    text-decoration: underline;
  }
}
