/*HOME PAGE*/
@import '../base/text.scss';
@import '../base/colors.scss';

.infomap {
  font-family: $font-family-primary;
  height: 748px;
  background-color: $bluesecondary;
  display: flex;
  align-items: center;
  padding-left: 168px;
}

.success_story {
  font-family: $font-family-primary;
  background-color: $color8;
  padding: 85px 155px 96px;
  h2 {
    font-size: $font-size-large;
    font-weight: $font-weight-regular;
    line-height: 1.05;
    color: $font-color-1;
    margin-bottom: 20px;
  }
}
