/*HOME PAGE*/
@import '../_settings.scss';

.infomap {
  align-items: center;
  background-color: $color-7;
  display: flex;
  font-family: $font-family-1;
  height: 748px;
  padding-left: 110px;
}

.success-story {
  background-color: $color-4;
  font-family: $font-family-1;
  padding: 85px 110px 96px;

  h2 {
    color: $color-6;
    font-size: $font-size-xx-big;
    font-weight: $font-weight-normal;
    line-height: 1.05;
    margin-bottom: 20px;
  }
}
