/*HOME PAGE*/
@import '../settings';

.infomap {
  align-items: center;
  background-image: url('../../assets/images/background_the_map.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  font-family: $font-family-1;
  height: 748px;
  padding-left: 110px;
}

.success-story {
  background-color: $color-4;
  font-family: $font-family-1;
  padding: 85px 110px 96px;

  h2 {
    color: $color-9;
    font-size: $font-size-xx-big;
    font-weight: $font-weight-normal;
    line-height: 1.05;
    margin-bottom: 20px;
  }
}
