@import '../settings';

.l-publications-news {
  padding-bottom: 85px;


  :global .section-page {
    margin: 0;
    max-width: 100%;
    padding: 55px 0 65px;

    :global .section-title {
      margin: 0 0 5px;

      @media #{$mq-tablet} {
        margin: 0 0 5px;
      }
    }

    > .grid {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
