@import '../../../styles/settings';

.icon {
  width: 14px;
  height: 14px;
  fill: $color-31;

  polygon, rect, path {
    fill: $color-31 !important;
  }

  &._activated {
    fill: $color-4;

    polygon, rect, path {
      fill: $color-4 !important;
    }
  }
}