@import '../settings';
@import '../mixins';

.searchPanel {
  z-index: 11;

  @media #{$mq-tablet} {
    position: relative;
  }

  :global .iconSearch,
  :global .iconClose {
    position: absolute;
    right: 0;
  }

  :global .iconSearch {
    top: 8px;
  }

  :global .iconFilter {
    cursor: pointer;
  }
}

.searchInput {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba($color-3, .3);
  border-radius: 0;
  color: $color-4;
  display: block;

  font-size: $font-size-x-small;
  font-weight: $font-weight-bold;
  font-family: $font-family-1;
  line-height: 1.8;

  outline: 0;
  padding-right: 30px;
  width: 100%;

  &::-webkit-input-placeholder {
    color: rgba($color-3, .3);
    font-weight: $font-weight-normal;
  }

  &::-moz-placeholder {
    color: rgba($color-3, .3);
    font-weight: $font-weight-normal;
  }

  &:-ms-input-placeholder {
    color: rgba($color-3, .3);
    font-weight: $font-weight-normal;
  }
}

.cleanQueryButton {
  position: absolute;
  right: 40px;
  stroke: rgba($color-3, .3);
  top: 72px;

  @media #{$mq-tablet} {
    right: 10px;
    top: 10px;
  }
}

.resultsContainer {
  background-color: $color-32;
  max-height: 0;
  overflow: hidden;

  &._open {
    border: 1px solid rgba($color-3, .3);
    left: 0;
    max-height: none;
    overflow: visible;
    padding: 14px 9px 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 90px;

    @media #{$mq-mobile-large} {
      flex-direction: row;
    }

    @media #{$mq-tablet} {
      max-width: 310px;
      top: 27px;
    }
  }
}

.searchList {
  padding: 0 0 15px;

  > .result {
    width: 100%;
  }
}

.paginationContainer {
  display: flex;
  justify-content: center;
  padding: 5px 11px 24px;
}
