@import '../../settings';

.c-steps {
  padding: 85px 0 80px;

  > .intro {
    margin: 0 auto;
    max-width: 675px;
  }

  > .steps-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
  }

  .step {
    flex-basis: calc(33.33% - 10px);

    & + .step {
      padding-left: 20px;
    }

    .step-intro {
      margin-bottom: 60px;
      text-align: center;

      > .amount {
        color: $color-9;
        font-size: $font-size-xx-big;
        font-weight: $font-weight-normal;
      }

      > .definition {
        color: $color-9;
        display: block;
        font-size: $font-size-small;
        text-transform: uppercase;
      }
    }

    .thumbnail {
      background-repeat: no-repeat;
      background-size: cover;
      height: 170px;
      position: relative;
      width: 100%;

      &::before {
        background-color: rgba($color-19, .8);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &.-satellite {
        background-image: url('../../../assets/images/steps/background-1.jpg');
      }

      &.-data {
        background-image: url('../../../assets/images/steps/background-2.jpg');
      }

      &.-you {
        background-image: url('../../../assets/images/steps/background-3.jpg');
      }

      > .thumbnail-icon {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    > .content {
      margin-top: 25px;

      > .name {
        font-size: $font-size-x-medium;
        font-weight: $font-weight-normal;
        margin-bottom: 25px;
      }
    }
  }
}
