body {
  -webkit-font-smoothing: antialiased;
}

.c-status-page {
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: -1;
}

.c-status-page.-not-found {
  background-image: url("../img/errors/not-found.png");
}

.c-status-page.-error {
  background-image: url("../img/errors/internal-error.png");
}

.c-status-page::after {
  background-color: rgba(23, 64, 132, 0.8);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.c-status-page .message {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.c-status-page .message > .title-status {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
}

.c-status-page .message > .description {
  color: #fff;
  font-size: 25;
  margin-top: 35px;
}

.attribution {
  position: absolute;
  top: auto;
  right: 5px;
  bottom: 0;
  z-index: 3;
}

.attribution > .author {
  font-family: 'roboto-slab', serif;
  font-size: 13px;
  color: #fff;
  line-height: 1.6;
}
