* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'roboto';
  src: url('roboto/Roboto-Regular.ttf') format('truetype'), url('roboto/Roboto-Bold.ttf') format('truetype'), url('roboto/Roboto-Light.ttf') format('truetype');
}

body {
  color: #fff;
  font-family: 'roboto', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 100;
}

/* Header */

.menu {
  position: relative;
}

/*HEADER MENU STYLES*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 30px;
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  background-color: #2b4f93;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

@media screen and (min-width: 769px) {
  .menu {
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
  }
}

.menu .hamburger-icon {
  position: absolute;
  top: 50%;
  left: 30px;
  width: 21px;
  height: 25px;
  cursor: pointer;
  transform: translateY(-50%);
}

@media screen and (min-width: 769px) {
  .menu .hamburger-icon {
    display: none;
  }
}

.menu .logo {
  height: 50px;
  max-width: 175px;
  margin: 0;
  text-indent: -10000px;
  background: url("../img/logo-mobile@2x.png") no-repeat center center;
  background-size: contain;
  width: 100vw;
}

@media screen and (min-width: 769px) {
  .menu .logo {
    height: 51px;
    max-width: 208px;
    background: url("../img/logo@2x.png") no-repeat center center;
    background-size: contain;
  }
}

.desktop-menu {
  display: none;
}

@media screen and (min-width: 769px) {
  .desktop-menu {
    display: block;
    list-style: none;
    /* The next rule is used to prevent the underline of the login element to go outside
     * of the grid but prokoves the menu to not be centered if the highlighted element isn't the login.
     * This is a temporal fix. */
    padding-right: 15px;
  }

  .desktop-menu img {
    height: 70px;
  }

  .desktop-menu > li {
    display: inline-block;
    margin-right: 40px;
  }

  .desktop-menu > li:nth-last-child(2) {
    margin-right: 46px;
  }

  .desktop-menu > li:last-child {
    border-left: 1px solid #FFF;
    padding-left: 46px;
    margin-right: 0;
  }

  .desktop-menu > li > a {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.1px;
    cursor: pointer;
  }

  .desktop-menu .selected:after {
    content: "";
    display: block;
    width: calc(100% + 30px);
    height: 4px;
    border-radius: 100px;
    background-color: #ffffff;
    margin-top: -5px;
    margin-left: -15px;
  }

  .dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    z-index: 99;
    padding: 15px;
    width: 160px;
    transform: translate(-40%, 0px);
  }

  .dropdown_content li {
    display: block;
    padding-left: 0 !important;
    margin-right: 0 !important;
    line-height: 40px;
    text-align: center;
  }

  .dropdown_content li > a {
    opacity: 0.9;
    font-size: 15px;
    font-weight: 400;
    line-height: 3.13;
    text-align: center;
    color: #0d1a34;
    text-transform: uppercase;
    transition: 0.2s;
    display: block;
    text-decoration: none;
  }

  .dropdown_content li > a:hover {
    opacity: 0.6;
    background-color: #8bbcc7;
  }

  .dropdown_content li:first-child {
    margin-top: 0;
  }

  .dropdown_content li:last-child {
    border-left: 0;
  }

  .dropdown:hover > ul {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .desktop-menu > li {
    margin-right: 92px;
  }
}

/* Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  visibility: hidden;
  transition: visibility 0s .3s;
  will-change: visibility;
}

.mobile-menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .3s ease-out;
  background-color: rgba(0, 0, 0, 0.3);
  will-change: opacity;
}

.mobile-menu.-opened {
  visibility: visible;
  transition: visibility 0s 0s;
}

.mobile-menu.-opened:before {
  opacity: 1;
}

.mobile-menu .drawer {
  position: absolute;
  top: 0;
  left: -75%;
  width: 75%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 30px;
  transition: transform .3s ease-in-out;
  will-change: transform;
  background-color: #0D1A34;
}

.mobile-menu.-opened .drawer {
  transform: translateX(100%);
}

.mobile-menu .drawer ul {
  list-style: none;
}

.mobile-menu .drawer ul li {
  padding: 10px 0;
}

.mobile-menu .drawer ul li {
  display: block;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.mobile-menu .drawer ul li > a {
  color: #FFF;
  text-decoration: none;
}

.mobile-menu .drawer .submenu_mobile {
  list-style: none;
  padding-left: 30px;
}

.mobile-menu .drawer .submenu_mobile li {
  display: block;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0;
}

.mobile-menu .drawer .submenu_mobile li > a {
  color: #FFF;
  text-decoration: none;
}

.mobile-menu .drawer .button_login {
  background-color: #92b9c6;
  font-size: 14px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  color: #fff;
  text-decoration: none;
  margin: 15px 0;
}

.mobile-menu .drawer .forgot_text > a {
  display: inline-block;
  margin-bottom: 5px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid #ef4323;
}

section {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 730px;
  padding: 0 30px;
}

section.pwd,
section.reg,
section.ty {
  padding: 60px 30px 0 30px;
}

h1 {
  font-weight: bold;
  font-size: 35px;
  text-align: left;
  display: block;
  width: 100%;
}


.ty h1 {
  margin-bottom: 30px;
}

.ty p {
  font-size: 14px;
  line-height: 1.5;
}

/*FORM STYLES*/

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  text-transform: uppercase;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 45px 0 0;
  letter-spacing: 1.5px;
  font-family: helvetica, arial, sans-serif;
}

input, textarea, select {
  -webkit-appearance: none;
  height: 40px;
  padding: 0 6px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
  font-family: 'roboto', Helvetica, Arial, sans-serif;
  flex-shrink: 0;
}

input:required {
  box-shadow: inset -6px 0px 0px #ef4323;
}

select {
  cursor: pointer;
  color: #a9a9a9;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEzIDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlRyaWFuZ2xlIDEgQ29weTwvdGl0bGU+PHBhdGggZD0iTTEyIDFMNi41IDYuNyAxIDEiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlPSIjNTU1IiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=") center right 20px no-repeat, #fff;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  width: 21px;
  height: 21px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin: 0;
}

input[type="checkbox"]:required {
  box-shadow: none;
}

textarea {
  padding: 6px;
  height: 100px;
}

input[type="submit"] {
  background-color: rgb(140, 187, 198);
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  width: 100%;
  margin: 40px auto;
  height: 60px;
  cursor: pointer;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

select::-ms-expand {
  display: none;
}

.cancel {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

#first_p {
  margin-top: 20px;
}
.log span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.log span > a {
  font-size: 14px;
  font-weight: 500;
  width: auto;
  margin-bottom: 10px;
}

hr {
  width: 100%;
  margin: 40px 0;
  border: none;
  border-top: 1px solid #fff;
}

/* TODO: fb and google icon */
.login_buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.login_buttons a {
  flex-basis: 100%;
  height: 60px;
  text-transform: uppercase;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-bottom: 30px;
}

@media screen and (min-width: 769px) {
  .login_buttons a {
    flex-basis: calc(50% - 7px);
  }
}

.login_buttons a.fb {
  background-color: #3b5998;
}

.login_buttons a.go {
  background-color: #db3236;
}

section.reg form {
  width: 100%;
}

.reg-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reg-form div {
  flex-basis: 100%;
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .reg-form div {
    flex-basis: calc(50% - 10px);
  }
}

.reg-form div:first-of-type {
  margin-top: 30px;
}

.reg-form div:last-of-type {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .reg-form div:nth-of-type(2) {
    margin-top: 30px;
  }
}

.reg-form label,
.reg-form input,
.reg-form select {
  width: 100%;
}

.tos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 40px 0 0 0;
}

.tos label {
  text-transform: none;
  margin: 0 0 0 16px;
  flex-basis: calc(100% - 37px);
}

@media only screen and (min-width: 768px) {
  .tos label {
    flex-basis: calc(50% - 37px);
  }
}

.tos a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #db3236;
}

.bg {
  background-size: cover;
}

.bg.reg {
  background-image: url('../img/ship.png');
}

.bg.con {
  background-image: url('../img/ship2.png');
}

.bg.log {
  background-image: url('../img/sky.png');
}

.bg.res {
  background-image: url('../img/ship3.png');
}

.bg.ty {
  background-image: url('../img/man.png');
}

.bg.ty section {
  height: calc(100% - 140px);
}

.bg.al {
  background-image: url('../img/ship3.png');
}

.bg.al::before, .bg.log::before, .bg.reg::before, .bg.res::before, .bg.ty::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(23, 64, 132, 0.8);
  z-index: -1;
}

#login_p {
  text-align: center;
  font-size: 25px;
}

.pwd p {
  font-size: 14px;
  line-height: 1.5;
}

@media only screen and (max-device-width: 768px) {
  .res .pwd p {
    width: 80%;
  }

  .cancel {
    font-size: 23px;
  }
}

/*ALLOW PAGE STYLES*/

.allow {
  color: #FFF;
  font-family: 'roboto', helvetica, arial, sans-serif;
  overflow: hidden;
  height: initial;
  display: block;
  min-height: initial;
  padding: 30px;
  z-index: 1;
}

.allow hr {
  width: 100%;
  max-width: 486px;
  display: block;
  margin: 0 auto 45px;
}

.allow a {
  color: #FFF;
  text-decoration: none;
  display: inline-block;
}

.allow h1 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -1px;
  display: block;
  text-align: left;
}

.allow h2 {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.68;
  display: block;
  text-align: left;
}

.allow .content {
  margin: 0 auto 30px;
  display: block;
  box-sizing: border-box;
}

.allow p {
  line-height: 1.5;
}

.allow .content > ul {
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  display: block;
  box-sizing: border-box;
}

.allow .content > ul > li {
  box-sizing: border-box;
  display: block;
}

.allow .content > ul:first-child {
  margin-right: 0px;
}

.allow #advise_email {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  display: block;
  margin-bottom: 55px;
  margin-top: 0;
}

.allow #advise_email > a {
  display: inline-block;
  width: 100%;
}

.link_underline {
  display: inline-block;
}

.link_underline:after {
  content: "";
  display: block;
  height: 1px;
  background-color: #f04323;
  margin-top: 1px;
}

.allow #button_allow {
  background-color: #8abbc7;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.1px;
  cursor: pointer;
  padding: 20px 100px;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
}

.allow #button_allow:after {
  display: none;
}

.allow #allow_deny {
  font-size: 14px;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-bottom: 55px;
}

.allow p:last-child {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  font-family: 'roboto', helvetica, arial, sans-serif;
}

/*TABLET STYLES*/

@media screen and (min-width: 640px) {
  form {
    max-width: 450px;
    margin: 0 auto;
  }

  .reg form {
    max-width: 730px;
  }

  input[type='submit'] {
    max-width: 250px;
  }

  section p {
    text-align: center;
  }

  .log span {
    display: flex;
    justify-content: space-around;
  }

  h1 {
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    display: block;
    width: 100%;
  }

  .allow h1 {
    text-align: center;
  }

  .bg.al {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .allow {
    padding: 0px;
    display: flex;
  }

  .allow h1 {
    font-size: 70px;
    margin-bottom: 30px;
  }

  .allow .content {
    display: flex;
  }

  .allow .content > ul {
    text-align: left;
  }

  .allow .content > ul:first-child {
    margin-right: 25px;
    text-align: left;
    min-width: 335px;
  }

  .allow .content > ul:last-child {
    text-align: left;
  }

  .allow #advise_email > a {
    display: inline-block;
    width: inherit;
  }
}

/*HEADER MENU STYLES*/

@media screen and (min-width: 769px) {
  .bg.al {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .allow {
    padding: 0px;
    z-index: 1;
  }

  .dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    z-index: 99;
    padding: 15px;
    width: 160px;
    transform: translate(-40%, 0px);
  }

  .dropdown_content li {
    display: block;
    padding-left: 0 !important;
    margin-right: 0 !important;
    line-height: 40px;
    text-align: center;
  }

  .dropdown_content li > a {
    opacity: 0.9;
    font-size: 15px;
    font-weight: 400;
    line-height: 3.13;
    text-align: center;
    color: #0d1a34;
    text-transform: uppercase;
    transition: 0.2s;
    display: block;
  }

  .dropdown_content li > a:hover {
    opacity: 0.6;
    background-color: #8bbcc7;
  }

  .dropdown_content li:first-child {
    margin-top: 0;
  }

  .dropdown_content li:last-child {
    border-left: 0;
  }

  .dropdown:hover > ul {
    display: block;
  }
}

@-moz-document url-prefix() {
  select {
    padding: 2px !important;
    color: #767676 !important;
  }
}

@media all and (-ms-high-contrast: none) {
  input:required {
    border: 1px solid transparent;
  }

  select {
    color: #767676 !important;
  }
}
