.humanRange {
  position: absolute;
  right: 20px;
  bottom: 120px;
  z-index: 4;
  background: no-repeat;
  text-shadow: 1px 1px 3px black;
  color: white;
  opacity: 0.7;
  font-size: 13px;
  text-transform: uppercase;
}
