@import '../../../styles/settings';

$width: 44px;
$height: 44px;

.container {
  display: flex;
  width: $width;
  margin-top: 2px;
}

.container li {
  transition: transform 0.3s linear;
  transform: translateX(-100%);
}

.main {
  z-index: 1;
  transform: translateX(0) !important;
}

.container:hover li {
  transform: translateX(0) !important;
}

.container li._active {
  color: red;
  text-decoration: underline;
}

.container button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-19;
  color: $color-4;
  cursor: pointer;
  width: $width;
  height: $height;
  font-family: $font-family-1;
  font-size: $font-size-normal;
}

.container button:focus {
  outline: 0;
}
